<h1 class="pagetitle">特定商取引法に基づく表示</h1>

<div class="lawtext m-t-3em">
<%- include(`./_include/${((locale === 'ja') ? 'ja' : 'en')}`) %>
</div>

<div class="center">
    <a class="btn btn-lg btn-big" href="javascript:window.close();"><span><%- __('Close') %></span></a>
</div>
