<script src="/js/reportSales.js"></script>
<section>
    <h1>アカウント別レポート出力</h1>
    <hr>
    <form method="post" class="form-accountreport">
        <input type="hidden" name="reportType" value="salesByAccount">

        <label for="select_account">アカウント名</label>
        <select id="select_account" class="form-control" name="owner">
            <option value="">指定無し</option>
            <% cognitoUsers.forEach((cognitoUser) => { %>
                <option value="<%= cognitoUser.username %>">
                    <%= cognitoUser.familyName %>
                        <%= cognitoUser.givenName %>
                </option>
                <% }) %>
        </select>

        <hr>

        <label for="input_reportrange">集計期間</label>
        <input id="input_reportrange" class="input-daterangepicker form-control" placeholder="(期間を指定してください)" name="reportrange">

        <hr>

        <p id="btn_download_accountreport" class="btn btn-download btn-disabled">
            <span>レポートダウンロード</span>
        </p>
    </form>
    <%- include('../common/master/_loading') %>
</section>