<div class="cateogryindex">
    <h2>レポート</h2>
    <ul>
        <li>
            <a href="/reports/sales">売上レポート出力</a>
        </li>
        <li>
            <a href="/reports/account">アカウント別レポート出力</a>
        </li>
    </ul>
</div>