<h1 class="pagetitle"><%- __('Error') %></h1>
<p class="guidetext">
    <%= message %>
</p>

<div class="center">
    <a class="btn btn-lg btn-big" href="/returntop"><span><%- __('BackToOfficialSite') %></span></a>
</div>
