<h1 class="pagetitle"><%- __('h1.Error') %></h1>
<p class="guidetext">
    <%= message %>
</p>

<div class="center">
    <a class="btn btn-lg btn-big" href="<%= conf.get('official_website_url') %>"><span><%- __('Button.BackToOfficialSite') %></span></a>
</div>
