<h1 class="pagetitle">Displays Based on the Specified Commercial Transactions Law</h1>

<div class="lawtext m-t-3em">
    <p>The following is stated with regard to the “Web Ticket Reservation Sales Terms of Service” (“The Service”), based on Article 11 of the “Act on Specified Commercial Transactions.”</p>

    <dl>
　      <dt>Business providing sales service</dt>
        <dd>Nippon Television City Corporation (Tokyo Tower)</dd>

        <dt>General manager of operations</dt>
        <dd>Tsugio Yoshinari</dd>

        <dt>Location</dt>
        <dd>4-2-8, Shiba Koen, Minato-ku, Tokyo</dd>

        <dt>Telephone number</dt>
        <dd>03-3433-5111 (9:00 am - 5:00 pm, open every day)</dd>

        <dt>URL</dt>
        <dd>https://www.tokyotower.co.jp/</dd>

        <dt>Sale price</dt>
        <dd>Tickets sold through the Service are all displayed with prices that include consumption tax.<br>
        Please check the Tokyo Tower fee screen for information on types and prices of tickets handled.
        </dd>

        <dt>Payment methods</dt>
        <dd>Payment shall be made with credit cards (VISA, Master Card, JCB, American Express, Diners Club) over the internet.<br>
        Billing dates differ for each credit card company.</dd>

        <dt>Ticket handover</dt>
        <dd>After reservation purchase a number of “QR code tickets” equivalent to the number of tickets purchased will be issued.<br>
        Customers should save, take a screen shot of, or print out the QR code, and present it when participating in the tour.
        </dd>

        <dt>Cancellation/Change</dt>
        <dd>Tickets may be canceled up to 11:59 pm of the day three days prior to the date of planned participation in the tour.<br>
        Ticket cancellation will incur a cancellation fee of 1,000 yen (including consumption tax) for each reservation purchase, regardless of the number of people for which the purchase is made.<br>
        Dates and times cannot be changed after making ticket reservation purchases.
        </dd>
    </dl>
</div>
