    <p>「WEBチケット予約販売サービス」（以下「本サービス」といいます。）に関し、「特定商取引に関する法律」第11条に基づき、次のとおり明示します。</p>

    <dl>
　      <dt>販売サービス提供事業者</dt>
        <dd>日本電波塔株式会社（東京タワー）</dd>

        <dt>運営統括責任者</dt>
        <dd>吉成 二男</dd>

        <dt>所在地</dt>
        <dd>東京都港区芝公園4丁目2-8</dd>

        <dt>電話番号</dt>
        <dd>03-3433-5111（9:00~17:00 年中無休）</dd>

        <dt>URL</dt>
        <dd>https://www.tokyotower.co.jp/</dd>

        <dt>販売価格</dt>
        <dd>本サービスで販売しているチケットは、すべて消費税込の価格で表示しております。<br>
        取扱いチケットの種類および価格については、東京タワー料金画面でご確認ください。
        </dd>

        <dt>お支払方法</dt>
        <dd>インターネット上でのクレジットカード（VISA、Master Card、JCB、American Express、Diners Club）決済となります。<br>
        ご請求日は各カード会社により異なります。</dd>

        <dt>チケットの引渡方法</dt>
        <dd>予約購入後に購入枚数分の「QRコード付きチケット」が発行されます。<br>
        QRコードを保存、画面撮影（スクリーンショット）、もしくは印刷のうえツアー参加時に提示していただきます。
        </dd>

        <dt>キャンセル・変更</dt>
        <dd>チケットのキャンセルはツアー参加予定日の3日前の23時59分まで可能です。<br>
        チケットをキャンセルする場合は人数にかかわらず一度の予約購入単位毎に￥1,000（税込）のキャンセル手数料が必要となります。<br>
        チケット予約購入後の日付、時間の変更はできません。
        </dd>
    </dl>
