@media print {
    .noprint {
        display: none !important;
    }
}

$breakpoint_tablet:801px;
$breakpoint_mobile:481px;
@mixin clearfix {
    &:before,
    &:after {
        content: ' ';
        display: table;
    }
    &:after {
        clear: both;
    }
}

@mixin btn-withIconImage {
    >span {
        &::after {
            position: absolute;
            top: 50%;
            margin-top: -8px;
            display: inline-block;
            vertical-align: middle;
            content: '';
            width: 16px;
            height: 16px;
            background-size: cover;
        }
    }
}

@mixin btn-icon-next {
    @include btn-withIconImage;
    >span {
        &::after {
            right: 0;
            background-image: url(/images/common/icon-btn-next.png);
        }
    }
}

@mixin btn-big {
    width: 260px;
    height: 50px;
    margin: 20px auto;
    font-size: 16px;
    @media screen and (max-width: $breakpoint_tablet) {
        font-size:14px;
    }
}

@mixin btn-red {
    background-color: #cc0000;
    &:hover,
    &:active,
    &:focus,
    &:active:focus,
    {
        background-color: #dc0000;
    }
}

@mixin btn-blue {
    background-color: #2490d0;
    &:hover,
    &:active,
    &:focus,
    &:active:focus,
    {
        background-color: #34a0e0;
    }
}

.clearfix {
    @include clearfix;
}

body {
    font-family: '游ゴシック', sans-serif;
    background-color: #fff;
    @media screen and (max-width: $breakpoint_tablet) {
        font-size:14px;
    }
}

* {
    box-sizing: border-box!important;
}

img {
    max-width: 100%;
    height: auto;
}

hr {
    margin: 10px 0;
}

h3 {
    font-size: 18px;
    font-weight: bold;
}

select {
    cursor: pointer;
}

.row {
    margin: 0 0 20px 0;
}

.is-ja {
    display: none;
}

.page-ja {
    .is-ja {
        display: inline;
    }
    .is-not-ja {
        display: none;
    }
}

.form-inline .form-control {
    @media screen and (max-width: $breakpoint_tablet) {
        width:100%;
    }
}

.red, .errmsg {
    color: red;
}

.visible-pc {
    @media screen and (max-width: $breakpoint_tablet) {
        display:none !important;
    }
}

.visible-mobile {
    display: none;
    @media screen and (max-width: $breakpoint_tablet) {
        display:inline;
    }
}

.visible-mobile-block {
    display: none;
    @media screen and (max-width: $breakpoint_tablet) {
        display:block;
    }
}

.is-staff-inline,
.is-staff-block {
    display: none;
}


.pagetitle {
    font-size: 1.5em;
    text-align: center;
    margin-top: 1.5em;
}

.guidetext {
    text-align: center;
    padding: 1em 0;
    line-height: 1.5;
    font-size: 16px;
}

.m-t-1em {
    margin-top: 1em;
}

.m-t-2em {
    margin-top: 2em;
}

.m-t-3em {
    margin-top: 3em;
}

.pretext {
    overflow: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
    background-color: transparent;
}

.redcircle {
    background-color: #c00;
    border-radius: 100%;
    width: 24px;
    line-height: 24px;
    display: inline-block;
    text-align: center;
    vertical-align: text-bottom;
    margin-right: 8px;
    font-size: 14px;
    color: #fff;
}

.remainingtickets {
    margin: 1em 0;
    strong {
        font-size: 1.5em;
    }
}


.btn {
    display: table;
    color: #fff;
    background-image: none;
    background-color: #595758;
    box-shadow: 0 1px #171717;
    appearance: none;
    border: none;
    @media screen and (max-width: $breakpoint_tablet) {
        border-radius:6px;
    }
    >span {
        position: relative;
        display: table-cell;
        vertical-align: middle;
    }
    &:hover,
    &:active,
    &:focus,
    &:active:focus,
    {
        color: #fff;
        background-color: #696768;
    }
}

.btn-big {
    @include btn-big;
}

.btn-next {
    @include btn-icon-next;
    @include btn-red;
    width: 320px;
    height: 50px;
    margin: 20px auto;
    font-size: 18px;
    @media screen and (max-width: $breakpoint_tablet) {
        width: 100%;
        font-size: 16px;
    }
}

.btn-back {
    display: table;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    color: #666;
    margin: auto;
    &:hover {
        text-decoration: none;
    }
    &::before {
        background-image: url(/images/common/icon-btn-back.png);
        display: inline-block;
        background-size: cover;
        content: '';
        width: 16px;
        margin-right: 8px;
        height: 16px;
    }
    >span {
        display: table-cell;
        vertical-align: middle;        
    }
}

.btn-thermalprint {
    background-color: #e1894f;
}

.btn-disabled {
    cursor: default;
    pointer-events: none;
    color: #b6b6b6 !important;
    border-color: #b6b6b6 !important;
    background-color: #fff !important;
    border: 1px solid;
    box-shadow: none;
}

.btn-icon-print {
    @include btn-withIconImage;
    >span {
        &::after {
            left: 0;
            background-image: url(/images/common/icon-btn-print.png);
        }
    }
}

.btn-login {
    @include btn-red;
}

.btn-confirmcancel {
    @include btn-red;
}


.btns2clm {
    @include clearfix;
    width: 800px;
    margin: 20px auto 0;
    padding: 0 10%;
    text-align: center;
    @media screen and (max-width: $breakpoint_tablet) {
        width:auto;
        padding: 0;
    }
    .btn {
        float: left;
        @media screen and (max-width: $breakpoint_tablet) {
            float:none;
        }
        &:first-child {
            float: right;
            @media screen and (max-width: $breakpoint_tablet) {
                float:none;
                margin-bottom: 1em;
            }
        }
    }
}

.navbtns {}

.accordion_mobile_toggle {
    position: relative;
    @media screen and (max-width: $breakpoint_mobile) {
        cursor:pointer;
    }
    &::before {
        display: none;
        position: absolute;
        top: 50%;
        right: 1em;
        margin-top: -5px;
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 10.4px 6px 0 6px;
        border-color: #ffffff transparent transparent transparent;
        @media screen and (max-width: $breakpoint_mobile) {
            display:block;
        }
    }
    &.accordion_mobile_toggleIsOpen::before {
        border-width: 0 6px 10.4px 6px;
        border-color: transparent transparent #ffffff transparent;
    }
}

.accordion_mobile_inner {
    @media screen and (max-width: $breakpoint_mobile) {
        display:none;
    }
}

.wrapper-2clm {
    @include clearfix;
    .clm-right {
        float: right;
    }
    .clm-left {
        float: left;
    }
    .clm-right,
    .clm-left {
        @media screen and (max-width: $breakpoint_tablet) {
            float:none;
        }
    }
}

.wrapper-agreement {
    margin: 20px auto 40px;
    text-align: center;
    label {
        position: relative;
        cursor: pointer;
        &::before, &::after {
            content: '';
            height: 28px;
            position: absolute;
            top: 50%;
            left: 0;
            margin-top: -10px;
            cursor: pointer;
        }
        &::before {
            width: 28px;
            border: 1px solid #ccc;
            background-color: #FFF;
        }
        &::after {
            width: 0;
            transition: width 0.1s;
            background-image: url(/images/common/icon-checkmark.svg);
            background-size: 28px;                
        }
        input {
            opacity: 0;
            position: absolute;
            width: 0px;
            height: 0px;
            cursor: pointer;
        }
        span {
            font-size: 20px;
            margin-top: 10px;
            margin-left: 36px;
            display: block;
        }
        &.agreed {
            &::after {
                width: 28px;
            }
        }
    }
}

.modal {
    .modal-dialog {
        width: 800px;
        @media screen and (max-width: $breakpoint_tablet) {
            width:auto;
        }
    }
    .modal-content {
        position: relative;
        text-align: center;
        border-radius: 0;
        @media screen and (max-width: $breakpoint_tablet) {
            border-radius:6px;
        }
    }
    .btn-circle-close {
        position: absolute;
        z-index: 999;
        top: -16px;
        right: -16px;
        @media screen and (max-width: $breakpoint_tablet) {
            top:-10px;
            right: -10px;
        }
        &::before {
            content: '';
            display: block;
            width: 32px;
            height: 32px;
            background-size: 64px 32px;
            background-repeat: no-repeat;
            background-position: left;
            background-image: url(/images/common/btn-circle-close.png);
            @media screen and (max-width: $breakpoint_tablet) {
                width:48px;
                height: 48px;
                background-size: 96px 48px;
            }
        }
        &:hover {
            &::before {
                cursor: pointer;
                background-position: right;
            }
        }
    }
    .modal-header {
        border: none;
        font-size: 20px;
        padding: 30px;
        @media screen and (max-width: $breakpoint_tablet) {
            border-radius:6px;
        }
    }
    .modal-footer {
        border: none;
        padding: 30px;
        @media screen and (max-width: $breakpoint_tablet) {
            padding-top:15px;
        }
        .btn-close {
            margin: auto;
            width: 200px;
            height: 45px;
            @media screen and (max-width: $breakpoint_tablet) {
                width:80%;
            }
        }
    }
}

.lawheading {
    font-weight: bold;
    margin-top: 3em;
    margin-bottom: 1em;
}

.lawtext {
    border: 1px solid #c9c9c9;
    padding: 20px;
    font-size: 14px; //margin-top:40px;
    line-height: 1.8;
    @media screen and (max-width: $breakpoint_mobile) {
        padding:1em;
    }
    >p {
        margin-bottom: 30px;
    }
    dl {
        dt {
            font-weight: bold;
            margin-bottom: 4px;
        }
        dd {
            margin-bottom: 20px;
            margin-left: 40px;
            @media screen and (max-width: $breakpoint_mobile) {
                margin-left:1em;
            }
        }
        &.ol {
            dd {
                display: list-item;
                list-style-type: decimal;
                margin-left: 56px;
                @media screen and (max-width: $breakpoint_mobile) {
                    margin-left:2em;
                }
            }
        }
        h3 {
            font-weight: bold;
            display: block;
        }
    }
    ol {
        h3 {
            font-weight: bold;
            margin-bottom: 4px;
        }
        li {
            display: list-item;
            list-style-type: decimal;
            margin-bottom: 20px;
            margin-left: 20px;
            @media screen and (max-width: $breakpoint_mobile) {
                margin-left:1em;
            }
        }
    }
    hr {
        border-top: 1px dashed #c4c4c4;
    }
}
