footer {
    clear: both;
    padding-top: 20px;
    text-align: center;
    >ul {
        font-size: 12px;
        line-height: 1.5;
        text-align: center;
        padding: 20px;
        margin: auto;
        @media screen and (max-width: $breakpoint_tablet) {
            padding: 0;
        }
        li {
            display: inline-block;
            vertical-align: middle;
            @media screen and (max-width: $breakpoint_tablet) {
                display:block;
                text-align: left;
                a {
                    display: block;
                    background-color: #595758;
                    line-height: 3em;
                    padding-left: 2em;
                    border-top: 1px solid #fff;
                    color: #fff;
                    &:hover {
                        color: #fff;
                        background-color: #797778;
                    }
                }
            }
            &::before {
                content: '|';
                margin: 0 4px;
                @media screen and (max-width: $breakpoint_tablet) {
                    display:none;
                }
            }
            &:first-child::before,
            &:last-child::before {
                display: none;
            }
        }
    }
    .copyrights {
        min-height: 50px;
        color: #fff;
        background-color: #000;
        display: table;
        width: 100%;
        pointer-events: none;
        .inner {
            font-size: 12px;
            display: table-cell;
            vertical-align: middle;
            .film-copyright {
                padding: 4px;
            }
        }
    }
}

.page-staff footer {
    >ul {
        display: none;
    }
}
