header {
    @include clearfix;
    background-color: #f9f9f9;
    border-bottom: 2px solid #c00;
    z-index: 128;
    height: 80px;
    user-select: none;
    .container {
        display: table;
        height: 100%;
        @media screen and (max-width: $breakpoint_tablet) {
            width:100%;
            padding: 0;
        }
    }
    .header-logo {
        display: table-cell;
        vertical-align: middle;
        padding: 10px;
        img {
            width: 160px;
            @media screen and (max-width: $breakpoint_mobile) {
                width:120px;
            }
        }
    }
    .header-menu {
        float: right;
        font-size: 12px;
    }
    .header-lang {
        float: right;
        border-left: 1px solid #ddd;
        width: 200px;
        margin: 10px 0;

        p {
            font-size:14px;
            text-align: center;
        }

        select {
            font-size: 20px;
            margin: 10px 16px 10px auto;
            display: block;
            width: 120px;
            background-color: transparent;
            border: none;
            outline: none;
            cursor: pointer;
        }
    }
}
.menu-staff {
    display: table;
    height: 78px;
    float: right;
    >p, >a {
        display: table-cell;
        vertical-align: middle;
        padding: 0 1em;
    }
    >a {
        font-size: 14px;
        &::before {
            display: block;
            width: 20px;
            height: 20px;
            margin: 5px auto;
        }
    }
    .btn-newticket {
        background-color: #eee;
        color: #000;
        &::before {
            content: url(/images/common/icon-gray-search.svg);
        }
    }
    .btn-mypage {
        background-color: #eee;
        color: #000;
        &::before {
            content: url(/images/common/icon-gray-search.svg);
        }
    }
    .btn-logout {
        background-color: #898989;
        color: #fff;
        &::before {
            content: url(/images/common/icon-white-logout.svg);
        }
    }
}
.page-staff {
    .menu-langs {
        display: none;
    }
}
