.loginform{
  max-width:720px;
  background-color: #fff;
  margin:2em auto;
  padding:1em 1em 2em;
  text-align:center;
  .errmsg{
    margin:1em 0;
  }
  h2{
    font-size:1.5em;
    line-height:2;
    img{
      height:1.5em;
      vertical-align:top;
    }
  }

  .btn{
    margin:1em auto;
  }

  .guidetext{
    padding:1em;
    @media screen and (max-width: $breakpoint_tablet){
      padding:1em 0;
    }
  }
  form{
    @media screen and (max-width: $breakpoint_tablet){
      text-align:left;
    }
    .form-inline{
      label{
        width:100px;
        @media screen and (max-width: $breakpoint_tablet){
          margin-bottom:10px;
        }
      }
      .form-control{
        width:260px;
        @media screen and (max-width: $breakpoint_tablet){
          width:100%;
        }
      }
    }
    input[type=text],select{

    }
  }

}

.loginform-mvtk{
  background-color: #ffcc01;
  .link-about{
    display:block;
    margin-top:2em;
  }
  hr{
    border-top:1px dashed #595758;
  }
}