.modal-cancel {
  .text{
    text-align:left;
  }
  .modal-body{
    padding:45px 15px;
  }
  h2{
    font-size:30px;
    color:#ea5514;
    font-weight:bold;
    margin-bottom:1em;
    line-height:1.5;
    text-align:center;
  }
  .table-reservation-confirm{
    text-align:left;
  }
  .btns2clm{
    max-width:720px;
  }
}