.modal-mail {
  .modal-body{
    padding:45px 15px;
  } 
  h2{
    font-size:16px;
    font-weight:bold;
    margin-bottom:1em;
    line-height:1.5;
  }
  .form-inline{
    input[type=email]{
      max-width:500px;
      width:100%;
    }
    .btn-submit{
      @include btn-blue;
      width:120px;
      @media screen and (max-width: $breakpoint_tablet){
        width:80%;
        height:45px;
        margin:2em auto 0;
      }
    }
  }
}