.modal-cancel {
    .modal-header {
        position: relative;
        .btn-close {
            cursor: pointer;
            position: absolute;
            top: 0;
            right: 0;
            font-size: 48px;
            background-color: #3f3f3f;
            color: #fff;
        }
        .modal-title {
            font-weight: bold;
        }
    }
    .modal-body {
        text-align: left;
        padding: 0;
    }
    .guidetext {
        padding: 0;
        margin-top: 1em;
    }
    .echo {
        margin-bottom: 1em;
    }
    form {
        >h3 {
            padding: 0 1em;
            line-height: 2;
            background-color: #d6d6d6;
        }
        >div {
            padding: 1em;
            h4 {
                margin-bottom: 10px;
            }
        }
        .cancelfee {
            font-size: 20px;
            font-weight: bold;
            color: #d00;
        }
    }
    h3, h4 {
        font-weight: bold;
    }
    .cancelnotice {
        padding: 1em;
        >h3 {
            font-weight: bold;
            margin-bottom: 10px;
        }
        >p {
            border: 1px solid #e9e9e9;
            padding: 1em;
            line-height: 2;
        }
    }
    .btn {
        width: 200px;
        height: 45px;
    }
    .btn-cancelrsrv {
        @include btn-red;
        margin: 2em auto;
    }
    .btns2clm {
        max-width: 600px;
        margin-bottom: 2em;
    }
    #btn_execcancel {
        @include btn-big;
        .show-processing {
            display: none;
        }
        &.is-processing {
            cursor: initial;
            background-color: #ccc !important;
            .show-processing {
                display: inline;
            }
        }
    }
}

#modal_cancelcompleted {
    color: #ce0000;
    h2 {
        font-weight: bold;
    }
    .modal-body {
        h3 {
            border: 2px solid #c00;
            padding: 1em;
            max-width: 300px;
            margin: auto;            
        }
        p {
            margin-top: 2em;
        }
    }
}
