//仮予約完了ページ
.page-waitingSettlement {
  .btn-showseat{
    
    margin:2em auto;
  }
  .table-waitingSettlement{
    max-width:800px;
    width:100%;
    margin:auto;
    tr,th,td{
      @media screen and (max-width: $breakpoint_tablet){
        display:block;
        width:100%;
      }
    }
    th,td{
      line-height:1.5;
      vertical-align:middle;
      border-top-width:2px;
    }
    th{
      background-color:#898989;
      border-bottom:none;
      color:#fff;
      text-align:center;
      vertical-align:middle;
      width:160px;
      @media screen and (max-width: $breakpoint_tablet){
        background-color:#898989;
        color:#fff;
        text-align:left;
      }
    }

    tbody{
      tr:first-child{
        th,td{
          border-top:none;
        }
      }
      td{
        background-color:#fff;
      }

    }

  }

}