// パフォーマンス検索ページ
.page-performances {
    .pagetitle {
        .is-wheelchair {
            display: block;
            margin-bottom: 10px;
        }
    }
    .guidetext-reservation {
        text-align: left;
        font-size: 14px;
        .red {
            font-size: 16px;
        }
        a {
            text-decoration: underline;
        }
    }
    .daynotice {
        font-size: 0.8em;
        margin-left: 1em;
        @media screen and (max-width: $breakpoint_tablet) {
            margin-top: 10px;
            margin-left: 0;
            display: block;
        }        
    }
    .performancesearchform {
        margin-top: 10px;
        margin-bottom: 2em;
        .input-date {
            width: 100%;
            position: relative;
            >input {
                height: 60px;
                padding-right: 60px;
                background-color: transparent;
                font-size: 32px;
                outline: none !important;
                @media screen and (max-width: $breakpoint_tablet) {
                    height: 48px;
                    padding-right: 48px;
                    font-size: 22px;
                }
            }
            &::after {
                position: absolute;
                top: 0;
                right: 0;
                display: inline-block;
                width: 60px;
                height: 60px;
                content: '';
                background-image: url(/images/common/icon-calender.png);
                background-size: 24px;
                background-repeat: no-repeat;
                background-position: 50%;
                background-color: #515151;
                @media screen and (max-width: $breakpoint_tablet) {
                    width: 48px;
                    height: 48px;
                }
            }
        }
    }
    .modal-calender {
        z-index: 9099;
        display: none;
        background-color: rgba(0, 0, 0, 0.6);
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        cursor: pointer;
        .modal-calender-content {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
        }
        .flatpickr-calendar {
            position: static;
            display: block;
        }
        .flatpickr-month {
            height: 48px;
            .flatpickr-next-month,
            .flatpickr-prev-month {
                svg {
                    width: 30px;
                }
            }
        }
    }
    .icondescription {
        margin-top: 10px;
        line-height: 2;
        p {
            display: inline-block;
        }
        .mbr {
            display: none;
            @media screen and (max-width: 520px) {
                display:block;
            }
        }
        img {
            width: 24px;
            height: 24px;
            margin-left: 10px;
            vertical-align: middle;
        }
    }
    .performance {
        @include clearfix;
        margin: auto;
        overflow: hidden;
        position: relative;
        margin-top: 20px;
        padding: 10px 8px;
        display: block;
        background-color: #eee;
        @media screen and (max-width: $breakpoint_tablet) {
            display: block;
            text-align: center;
        }
        .hour {
            display: table;
            text-align: center;
            font-size: 36px;
            font-weight: bold;
            float: left;
            width: 170px;
            height: 110px;
            float: left;
            @media screen and (max-width: $breakpoint_tablet) {
                float: none;
                display: block;
                width: 100%;
                height: auto;
                text-align: left;
                font-size: 22px;
            }
            >span {
                display: table-cell;
                vertical-align: middle;
            }
        }
        .items {
            float: right;
            display: table;
            width: 100%;
            padding-left: 170px;
            margin-left: -170px;
            @media screen and (max-width: $breakpoint_tablet) {
                float: none;
                padding-left: 0;
                margin-left: 0;
                text-align: left;
            }
        }
        .item {
            display: table-cell;
            text-align: center;
            vertical-align: top;
            padding: 0 2px;
            @media screen and (max-width: $breakpoint_tablet) {
                display: inline-block;
                width: 50%;
                margin: 10px 0;
            }
            &:hover {
                cursor: pointer;
                opacity: 0.9;
            }
            .time {
                color: #fff;
                background-color: #5190cc;
                font-size: 19px;
                padding: 5px;
                margin-bottom: 8px;
                @media screen and (max-width: $breakpoint_tablet) {
                    font-size: 16px;
                }
            }
        }
        .wrapper-status {
            display: table;
            width: 100%;
            height: 76px;
            padding: 0 12px;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 2px rgba(0, 0, 0, 0.2);
            user-select: none;
            @media screen and (max-width: $breakpoint_tablet) {
                height: 50px;
            }
        }
        .status {
            color: #5190cc;
            display: table-cell;
            vertical-align: middle;
            text-align: center;
            font-size: 0;
            &::before {
                content: '';
                display: inline-block;
                width: 40px;
                height: 40px;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center center;
                @media screen and (max-width: $breakpoint_tablet) {
                    width: 28px;
                }
            }
        }
        .item-capable {
            .status::before {
                background-image: url(/images/common/icon-status-capable.svg);
            }
        }
        .item-crowded {
            .status::before {
                background-image: url(/images/common/icon-status-crowded.svg);
            }
        }
        .item-last {
            .time {
                background-color: #c30d23;
            }
            .wrapper-status {
                font-size: 36px;
            }
            .status {
                color: #c30d23;
                font-size: 1em;
            }
            .status::before {
                width: 20px;
                height: 20px;
                margin-right: 4px;
                background-image: url(/images/common/icon-status-last.svg);
            }
        }
        .item-soldout, .item-unavailable {
            pointer-events: none;
            .time,
            .wrapper-status {
                background-color: #b5b5b6;
            }
            .wrapper-status {
                box-shadow: 0 -2px rgba(0, 0, 0, 0.3);
            }
        }
        .item-soldout {
            .status::before {
                background-image: url(/images/common/icon-status-soldout.svg);
            }
        }
        .item-unavailable {
            .status::before {
                background-image: url(/images/common/icon-status-unavailable.svg);
            }
        }
    }
}

//代理予約パフォーマンス一覧
.page-performances.page-staff {
    .performance {
        .status {
            font-size: 32px;
            &::before {
                content: '残';
                width: auto;
                height: auto;
                margin: 0 8px 8px;
                vertical-align: middle;
                color: #000;
                font-size: 20px;
                background: none;
            }
        }
    }
    .icondescription {
        display: none;
    }
}
