// 予約内容確認ページ
.page-confirm {
    .wrapper-confirm {
        h2 {
            @include clearfix;
            color: #000;
            line-height: 2;
            font-weight: bold;
            @media screen and (max-width: $breakpoint_tablet) {
                font-size: 1.25em;
            }
        }
        .btn-change {
            float: right;
            width: 80px;
            height: 24px;
            padding: 0;
            margin-top: 4px;
            >span {
                font-size: 11px;
                padding-left: 8px;
                &::after {
                    width: 12px;
                    height: 12px;
                    margin-top: -6px;
                    left: 4px;
                }
            }
        }
        .visible-mobile-block {
            .btn-change {
                @media screen and (max-width: $breakpoint_tablet) {
                    margin-top:2px;
                }
            }
        }
    }
    .table-confirm {
        background-color: #eee;
        tr,
        th,
        td {
            @media screen and (max-width: $breakpoint_tablet) {
                display:block;
            }
        }
        th,
        td {
            line-height: 2;
            padding: 4px 20px;
            border-top-color: #fff;
            @media screen and (max-width: $breakpoint_tablet) {
                padding:4px 10px;
            }
        }
        th {
            @include clearfix;
            background-color: #898989;
            color: #fff;
            width: 200px;
            @media screen and (max-width: $breakpoint_tablet) {
                width:auto;
            }
        }
        strong {
            font-weight: bold;
        }
        .price {
            font-weight: bold;
            color: red;
            letter-spacing: 1px;
        }
    }
    .wrapper-notice {
        margin-top: 50px;
        h2 {
            font-size: 1.5em;
            text-align: center;
            margin-bottom: 1em;
        }
        p {
            background-color: #eee;
            padding: 1em;
            line-height: 2;
        }
    }

}
