// 予約者情報入力ページ
.page-profile {
    .table-profile {
        tr,
        th,
        td {
            @media screen and (max-width: $breakpoint_tablet) {
                display:block;
                width: 100%;
            }
        }
        tr:first-child {
            th,
            td {
                border-top: none;
            }
        }
        th {
            background-color: #898989;
            color: #fff;
            vertical-align: middle;
            padding: 10px;
            width: 196px;
            .required {
                color: #c30d23;
                padding: 2px;
                @media screen and (max-width: $breakpoint_tablet) {
                    margin-left:1em;
                }
            }
        }
        td {
            background-color: #eee;
            border-top-color: #fff;
            padding: 1em;
        }
        .notice {
            font-size: 0.8em;
            line-height: 2;
        }
        p {}
    }
    .wrapper-names {
        @include clearfix;
        .wrapper-nameinput {
            display: table;
            width: 49%;
            float: right;
            @media screen and (max-width: $breakpoint_tablet) {
                float:none;
                display: block;
                width: 100%;
            }
            &:first-child {
                float: left;
                @media screen and (max-width: $breakpoint_tablet) {
                    float:none;
                }
            }
            label,
            input {
                display: table-cell;
            }
            label {
                text-align: center;
            }
        }
    }
    .wrapper-emailconfirm {
        display: table;
        width: 100%;
        >input,
        >span {
            display: table-cell;
        }
        >span {
            text-align: center;
        }
    }

    .wrapper-gender {
        label {
            margin-right: 10px;
            cursor: pointer;
        }
        input[type=radio] {
            width: 20px;
            height: 20px;
            margin-right: 2px;
            box-shadow: none;
            vertical-align: text-bottom;
            cursor: pointer;
        }
    }

    .price {
        font-size: 20px;
        font-weight: bold;
        color: red;
        letter-spacing: 1px;
    }

    #cardNumber {
        margin-bottom: 10px;
    }

    #cardExpirationMonth {
        display: inline-block;
        width: 64px;
    }

    #cardExpirationYear {
        display: inline-block;
        width: 80px;
    }

    .btn-securitycode {
        color: #0ca2fe;
        cursor: pointer;
        text-decoration: underline;
        margin-top: 1em;
    }
}
