// 管理画面
.page-mypage {
    .btn-print {
        background-color: #4f89e1;
    }
    .wrapper-searchform {
        background-color: #f9f9f9;
        padding: 2em;
        margin: 0 auto;
        h3 {
            margin-bottom: 10px;
        }
        select {
            width: auto;
        }
        .wrapper-inputs {
            padding-bottom: 20px;
            border-bottom: 1px dashed #dadada;
            margin-bottom: 20px;
            .form-group {
            }
            label {
                display: block;
                margin-bottom: 4px;
            }
        }
        .wrapper-time {
            #input_performancedate {
                background-color: #fff;
                width: 160px;
                display: inline-block;
                vertical-align: bottom;
            }
            select {
                display: inline-block;
            }
        }
        .wrapper-purchaser {
            .form-inline:first-child {
                margin-bottom: 10px;
            }
            input[name=purchaser_email] {
                width: 400px;
            }
            input[name=watcher_name] {
                width: 400px;
            }
        }
    }
    #echo_totalcount {
        margin-top: 1em;
    }
    #echo_searchmsg {
        display: none;
        background-color: #ddd;
        padding: 1em;
        margin: 1em;
        text-align: center;
    }
    .wrapper-reservations {
        thead {
            background-color: #898989;
            color: #fff;
        }
        tbody {
            background-color: #fff;
        }
        th,
        td {
            vertical-align: middle;
            padding: 1em;
        }
        th {
            font-size: 14px;
            text-align: center;
        }
        input[type=checkbox] {
            transform: scale(1.5);
        }
        .btn {
            >span {
                padding: 8px;
            }
        }
        .td-number,
        .td-title {
            font-size: 0.8em;
        }
        .td-number {
            .paymentno {
                font-size: 16px;
                font-weight: bold;
            }
            .starttime {
                display: block;
            }
        }
        .td-seat {
            text-align: center;
            width: 90px;
            a {
                text-decoration: underline;
            }
        }
        .td-ticket {
            text-align: center;
            width: 120px;
        }
        .td-route {
            text-align: center;
            width: 120px;
        }
        .td-checkin {
            width: 100px;
            padding: 10px;
            text-align: center;
            .entered {
                color: #d00;
            }
        }
        .td-actions {
            width: 160px;
            .btn {
                width: 100%;
                margin-bottom: 1em;
                &:first-child {
                    margin-bottom: 12px;
                }
            }
        }
    }
    .wrapper-controls {
        .navigation {
            text-align: center;
            span {
                color: #666;
                padding: 0 4px;
                >a {
                    color: #666;
                    text-decoration: underline;
                }
            }
        }
    }
    #modal_cancelcompleted {
        .modal-body {
            h3 {
                max-width: 600px;
                padding-top: 0;
                margin-bottom: 1em;
                >span {
                    color: #000;
                    display: block;
                    margin: 1em 0;
                    font-size: 14px;
                }
            }
            p {
                text-align: center;
            }
        }
    }
}
