
.page-staff.page-reserve {
    .pagetitle {
        &::before {
            content: '代理予約';
            font-size: 16px;
            color: #777;
            border: 1px solid #777;
            display: block;
            width: 100px;
            padding: 5px;
            margin: 10px auto;
        }
    }
    .is-customer {
        display: none;
    }
    .is-staff-inline {
        display: inline;
    }
    .is-staff-block {
        display: block;
    }
}
