// 予約者情報入力ページ
.page-profile {
    .requiredmark {
        vertical-align: sub;
        &::before {
            font-size: 24px;
            line-height: 1;
        }
    }
    .description-required {
        text-align: right;
    }
    .table-profile {
        tr,
        th,
        td {
            @media screen and (max-width: $breakpoint_tablet) {
                display:block;
                width: 100%;
            }
        }
        tr:first-child {
            th,
            td {
                border-top: none;
            }
        }
        th {
            background-color: #898989;
            color: #fff;
            vertical-align: middle;
            padding: 10px;
            width: 196px;
            .required {
                margin-left: 4px;
            }
        }
        td {
            background-color: #eee;
            border-top-color: #fff;
            padding: 1em;
        }
        .notice {
            font-size: 0.8em;
            line-height: 2;
        }
        p {}
    }
    .wrapper-names {
        @include clearfix;
        .wrapper-nameinput {
            display: table;
            width: 49%;
            float: right;
            @media screen and (max-width: $breakpoint_tablet) {
                float:none;
                display: block;
                width: 100%;
            }
            &:first-child {
                float: left;
                @media screen and (max-width: $breakpoint_tablet) {
                    float:none;
                }
            }
            label,
            input {
                display: table-cell;
            }
            label {
                text-align: center;
            }
        }
    }
    .wrapper-emailconfirm {
        display: table;
        width: 100%;
        >input,
        >span {
            display: table-cell;
        }
        >span {
            text-align: center;
        }
    }

    .tr-tel {
        label {
            cursor: pointer;
        }
        input:disabled {
            color: #ccc;
        }
        #wrapper_tel_otherregion {
            display: none;
        }
    }

    .wrapper-gender {
        label {
            margin-right: 10px;
            cursor: pointer;
        }
        input[type=radio] {
            width: 20px;
            height: 20px;
            margin-right: 2px;
            box-shadow: none;
            vertical-align: text-bottom;
            cursor: pointer;
        }
    }

    .price {
        font-size: 20px;
        font-weight: bold;
        color: red;
        letter-spacing: 1px;
    }

    .figure-availablecards {
        margin-top: 10px;
    }

    #cardExpirationMonth {
        display: inline-block;
        width: 64px;
    }

    #cardExpirationYear {
        display: inline-block;
        width: 80px;
    }

    .btn-securitycode {
        color: #0ca2fe;
        cursor: pointer;
        text-decoration: underline;
        margin-top: 1em;
    }
    .wrapper-payment {
        margin-bottom: 1em;
        .payment {
            display: block;
            background-color: #fff;
            padding: 1em;
            font-size: 24px;
            margin-bottom: 2em;
            position: relative;
            z-index: 0;
            cursor: pointer;
            input[type=radio] {
                box-shadow: none;
                margin-right: 8px;
                width: 24px;
                height: 24px;
                vertical-align: text-top;
                display: inline-block;
                cursor: pointer;
            }
            .checkedbg {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: -1;
                background-color: #ffd;
                border: 4px solid #000;
                display: none;
            }
            input[type=radio]:checked + .checkedbg {
                display: block;
            }
        }
    }
}
