// 券種選択ページ
.page-tickets {
    .wrapper-2clm {
        .clm-left {
            padding-left: 260px;
            margin-left: -260px;
            width: 100%;
            @media screen and (max-width: $breakpoint_tablet) {
                margin:auto;
                padding: 0;
            }
        }
        .clm-right {
            width: 240px;
            @media screen and (max-width: $breakpoint_tablet) {
                width:100%;
            }
        }
    }
    .guidetext-wheelchair {
        padding-top: 0;
        a {
            text-decoration: underline;
            color: red;
        }
    }
    .link-guide {
        color: #71c9ff;
        display: block;
        margin-bottom: 1em;
    }
    .alert-ticket {
        color: #f00;
        display: none;
        text-align: center;
        padding: 1em;
    }
    .table-tickets {
        td,
        th {
            border-top: 2px solid #fff;
            @media screen and (max-width: $breakpoint_tablet) {
                border-top: none;
            }
        }
        thead {
            background-color: #898989;
            color: #fff;
            @media screen and (max-width: $breakpoint_tablet) {
                display:none;
            }
            th:last-child {
                width: 110px;
            }
        }
        thead,
        tbody {
            th:first-child {
                border-right: 2px solid #fff;
                @media screen and (max-width: $breakpoint_tablet) {
                    border-right: none;
                }                
            }
        }
        tbody {
            th {
                text-align: left;
                font-size: 16px;
                padding: 0.5em 1em;
                @media screen and (max-width: $breakpoint_tablet) {
                    padding: 10px 1em 0;
                }
            }
        }
        tbody,
        tfoot {
            background-color: #eee;
            td {
                padding: 8px 16px;
                vertical-align: middle;
            }
        }
        tfoot {
            td {
                font-size: 16px;
                line-height: 2em;
                text-align: right;
                .price {
                    font-size: 24px;
                    margin-left: 1em;
                    font-weight: bold;
                    color: red;
                }
            }
        }
        tr,
        th,
        td {
            @media screen and (max-width: $breakpoint_tablet) {
                display:block;
            }
        }
        tr {
            @media screen and (max-width: $breakpoint_tablet) {
                border-top: 5px solid #fff;
            }
        }
        th {
            vertical-align: middle;
            @media screen and (max-width: $breakpoint_tablet) {
            }
        }
    }
    .wrapper-terms {
        h2 {
            font-size: 1.2em;
            text-align: center;
            margin: 10px auto;
        }
        .lawtext {
            max-height: 300px;
            overflow: scroll;
            @media screen and (max-width: $breakpoint_tablet) {
                max-height: 200px;
            }
        }
    }
}
