//当日入場パフォーマンス検索ページ
#page_admission_performances{
  .pagetitle{
    margin:1.5em auto;
  }

  .admissionsearchform{
    background-color:#e5e5e5;
    padding:20px 10px;
    .btn-search{
      margin:auto;
      width:80%;
      height:45px;
    }
  }

  .admission-performance{
    background-color:#e5e5e5;
    padding:10px;
    h3{
      font-size:16px;
      padding:10px 0;
    }
    .schedule{
      cursor:pointer;
      display:block;
      color:#000;
      background-color:#fff;
      padding:10px;
      border-radius:5px;
      box-shadow:0 2px #aaa;
      margin-bottom:20px;
      &:hover{
        color:#777;
        text-decoration:none;
      }
      &:last-child{
        margin-bottom:0;
      }
      .when{
        display:block;
        font-size:20px;
        margin-bottom:10px;
      }
    }
  }
}
