//関係者用予約キャンセルページ
.page-cancel{
  .cancelform{
    max-width:720px;
    background-color: #fff;
    margin:2em auto;
    padding:1em 1em 2em;
    text-align:center;
  }
  .errmsg{
    margin:1em 0;
  }
  h2{
    font-size:1.5em;
    line-height:2;
  }  
  .btn{
    margin:1em auto;
  }
  form{
    @media screen and (max-width: $breakpoint_tablet){
      text-align:left;
    }
    .form-inline{
      label{
        width:140px;
      }
      .form-control{
        width:260px;
        @media screen and (max-width: $breakpoint_tablet){
          width:100%;
        }
      }
    }
    input[type=text],select{

    }
  }

}