// パフォーマンス選択以降のページでincludeされる予約情報表示ボックス
.reservationstatus {
    color: #000;
    line-height: 1.5;
    border: 1px solid #eee;
    h2 {
        text-align: center;
        padding: 0.5em;
        background-color: #eee;
        @media screen and (max-width: $breakpoint_tablet) {
            background-color: #fff;
            text-align:left;
            padding: 1em;
            border-radius: 6px;
            cursor: pointer;
            &:before {
                display: block;
            }
        }
    }
    .reservationstatus-inner {
        background-color: #fff;
        padding: 1em;
        @media screen and (max-width: $breakpoint_tablet) {
            display:none;
            padding: 1em 12%;
            background-color: #e5e5e5;
            color: #000;
        }
    }
    .reservationstatus-info {
        font-weight: bold;
    }
}
