//座席表示
.pc-not-view {
  display: none;
}


@media screen and (max-width: $breakpoint_tablet){
  .pc-not-view {
    display: block;
  }
  .sp-not-view {
    display: none;
  }
}

.screen {
  position: relative;
  background-color:#353535;
  @media screen and (max-width: $breakpoint_tablet){
    overflow: hidden;
  }
  .transition {
    transition: all 0.3s;
  }
  .screen-inner {
    position: relative;
    margin-left: auto;
    margin-right: auto;
  }
  .seat {
    position: absolute;
    a {
      box-sizing: border-box;
      display: block;
      height: 100%;
      background-repeat:no-repeat;
      background-position:top left;
      &.active {
        background-position:top center;
      }
      &.disabled {
        background-position:top right;
      }
      &.entered {
        background-position:bottom left;
      }
    }
  }
  .seat-normal{
    width: 12px;
    height: 20px;
    a{
      background-image:url(/images/screen/seat-normal.png);
    }
  }
  .seat-normal-rightfaceing{
    transform: rotate(90deg);
  }
  .seat-normal-leftfaceing{
    transform: rotate(-90deg);
  }

  .seat-frontreclining{
    width: 12px;
    height: 20px;
    a{
      background-image:url(/images/screen/seat-frontreclining.png);
    }
  }

  .seat-premierluxury{
    width:20px;
    height:20px;
    a{
      background-image:url(/images/screen/seat-premierluxury.png);
    }
  }

  .seat-premierbox{
    width:25px;
    height:20px;
    a{
      background-image:url(/images/screen/seat-premierbox.png);
    }
  }

  .seat-wheelchair{
    width:11px;
    height:20px;
    a{
      background-image:url(/images/screen/seat-wheelchair.png);
    }
  }

  .front {
    a {
      
    }
  }
  .middle {
    a {
      
    }
  }
  .back {
    a {
      
    }
  }
  .left {
    transform: rotate(10deg);
    a {
      
    }
  }
  .center {
    a {
      
    }
  }
  .right {
    transform: rotate(-10deg);
    a {
      
    }
  }
  .wheelchair a {
    background-image: url(/images/screen/wheelchair.png);
    background-position: center;
    background-repeat: no-repeat;
  }
  .zoom-btn {
    position: absolute;
    left: 10px;
    bottom: 10px;
    z-index: 2;
    display: none;
    &.active {
      display: block;
    }
    a {
      display: block;
      width: 100px;
      height: 40px;
      background-color: red;
      line-height: 40px;
      text-align: center;
      color: #fff;
      text-decoration: none;
      box-sizing: border-box;
      border: 2px solid rgba(0, 0, 0, 0.5);
    }
  }
  .balloon {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    padding: 15px;
    background-color: #000;
    background-color: rgba(51, 51, 51, 0.9);
    color: #FFF;
    &::after {
      content: '';
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 4px 10px 4px;
      border-color: transparent transparent #000 transparent;
      border-color: transparent transparent rgba(51, 51, 51, 0.9) transparent;
      position: absolute;
      top: -10px;
      left: 50%;
      margin-left: -4px;
    }
    &.active {
      display: block;
      animation: fadeIn 0.5s ease 0s 1 normal;
    }
  }
}
@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}