<%
let routeName = '';
if (req.hasOwnProperty('route')) {
    routeName = req.route.path;
}
%>
<header>
    <div class="container">

        <a href="javascript:void(0);" class="header-logo"><img src="/images/common/logo.svg" alt="TTTS"></a>

        <div class="menu-staff">
            <div class="menu-staff">
                <p class="myname"><%= req.staffUser.get('name').ja %> <%= // req.staffUser.get('signature') %></p>
                <% if (routeName === '/mypage') { %>
                    <a class="btn-newticket" href="/staff/reserve/start"><span>代理予約</span></a>
                <% } else { %>
                    <a class="btn-mypage" href="/staff/mypage"><span>予約一覧</span></a>
                <% } %>
                <a class="btn-suspension-setting" href="/staff/suspension/setting/performances"><span>オンライン<br>販売停止</span></a>
                <a class="btn-suspension-list" href="/staff/suspension/list"><span>販売停止<br>一覧表示</span></a>
                <a class="btn-logout" href="/auth/logout"><span>ログアウト</span></a>
            </div>

        </div>
    </div>
</header>
