<%
let routeName = '';
if (req.hasOwnProperty('route')) {
    routeName = req.route.path;
}
%>
<header>
    <div class="container">

        <a href="javascript:void(0);" class="header-logo"><img src="/images/common/logo.png" alt="CHEVRE"></a>

        <div class="header-menu">

            <% if (routeName.indexOf('terms') >= 0) { %>
                <div class="menu-staff">
                    <div class="staff-btns">
                        <a href="javascript:void(0)" class="btn update-locale" data-locale="en">English</a>
                        <a href="javascript:void(0)" class="btn update-locale" data-locale="ja">日本語</a>
                    </div>
                </div>
            <% } else { %>
                <% if (req.preCustomerUser && req.preCustomerUser.isAuthenticated()) { %>
                <div class="menu-staff">
                    <p class="myname"></p>
                    <div class="staff-btns">
                        <a class="btn btn-logout" href="/pre/logout"><span><%- __('Button.Logout') %></span></a>
                    </div>
                </div>
                <% } %>
            <% } %>

        </div>
    </div>
</header>
