iisnode.yml
node_modules/
npm-debug.log*
iisnode/
doc
.env*
.vscode/
.DS_Store
Thumbs.db
*.bat
temp*.json

!.gitignore
!.gitkeep

# Elastic Beanstalk Files

.elasticbeanstalk/*

!.elasticbeanstalk/*.cfg.yml

!.elasticbeanstalk/*.global.yml

*.js.map
