iisnode.yml
lock/
logs/
node_modules/
npm-debug.log*
typings/
iisnode/
docs
.env*
.vscode/
.DS_Store
Thumbs.db
*.bat
temp*.json

app/views/customer/

!.gitignore
!.gitkeep

# Elastic Beanstalk Files

.elasticbeanstalk/*

!.elasticbeanstalk/*.cfg.yml

!.elasticbeanstalk/*.global.yml

*.js.map
