<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
            <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
        </staticContent>
        <handlers>
            <add name="iisnode" path="/index.js" verb="*" modules="iisnode" />
        </handlers>
        <rewrite>
            <rules>
                <rule name="http2https" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTPS}" pattern="off" ignoreCase="true" />
                    </conditions>
                    <action type="Redirect" redirectType="Found" url="https://{HTTP_HOST}/{R:1}" />
                </rule>

                <!-- First we consider whether the incoming URL matches a physical file in the /public folder -->
                <rule name="StaticContent">
                    <action type="Rewrite" url="public{REQUEST_URI}"/>
                </rule>

                <!-- All other URLs are mapped to the node.js site entry point -->
                <rule name="DynamicContent">
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True"/>
                    </conditions>
                    <action type="Rewrite" url="index.js" appendQueryString="true"/>
                </rule>
            </rules>
        </rewrite>

        <!-- Make sure error responses are left untouched -->
        <httpErrors existingResponse="PassThrough" />


        <iisnode
            nodeProcessCountPerApplication="0"
            maxNamedPipeConnectionRetry="200"
            namedPipeConnectionRetryDelay="250"
            watchedFiles="*.js;web.config"
            loggingEnabled="true"
            devErrorsEnabled="true"
         />
    </system.webServer>
</configuration>