<footer>
    <div class="copyrights">
        <div class="inner">
            ©<%- new Date().getFullYear() %> TOKYO TOWER. ALL RIGHTS RESERVED.
        </div>
    </div>
</footer>

<script>
    window.ttts.commonlocales = {
        Next: '<%= __('Next') %>',
        Sending: '<%= __('Processing') %>',
        UnexpectedError: '<%= __('UnexpectedError') %>'
    };
    $(document).on('click', '.update-locale', function () {
        location.href = '/language/update/' + $(this).attr('data-locale') + '?cb=' + location.href;
    })
</script>