<%- include('../../common/reserve/_complete') %>

<div class="center">
    <p class="btn btn-lg btn-thermalprintall btn-icon-print"><span>一括サーマル印刷</span></p>
    <a class="btn btn-lg btn-next" href="/window/reserve/start"><span><%- __('Button.BackToSelectPerformance') %></span></a>
</div>
