<%- include('../../common/reserve/_performances', {isSponsor: false, isStaff: false, isTel: false, isWindow: true}) %>

<a class="btn btn-default btn-lg btn-block" href="/window/mypage"><%- __('Button.Back') %></a>
