<style>
body {
    line-height: 1.5;
}
</style>

<script src="/js/customer/cancel.js"></script>

<div class="cancelform">
    <h2>チケット返金(キャンセル)受付ページ<br>Online Ticket Cancel</h2>
    <p class="row">
    購入完了時に発行される購入番号と、購入時にご入力頂いた電話番号で<br>ご予約頂いた座席のキャンセルと返金リクエストを行うことができます。<br>
    You can cancel your ticket reservation and request a refund by using the transaction number issued when you completed your reservation and the telephone number which you entered in your reservation process.
    </p>

    <p class="errmsg"></p>

    <form>
        <div class="form-group form-inline">
            <labeL>購入番号<br>Transaction number</labeL>
            <input type="text" class="form-control" name="paymentNo" value="<%= paymentNo %>">
        </div>
        <div class="form-group form-inline">
            <label>電話番号下4桁<br>Last 4 digits of telephone number</label>
            <input type="text" class="form-control" name="last4DigitsOfTel" value="<%= last4DigitsOfTel %>">
        </div>
        <p class="btn btn-big btn-confirmcancel confirm-cancel" data-url="/customer/cancel"><span>照会<br>Confirm</span></p>
    </form>

    <div class="center" style="padding:10px;">
        <a class="show-details-refund-procedure-ja">返金手続き詳細のご案内</a>
    </div>
    <div class="center" style="padding:10px;">
        <a class="show-details-refund-procedure-en">Details of Refund Procedure</a>
    </div>
</div>


<div class="modal modal-cancel fade cancel-reservation-confirm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <p class="btn-circle-close" data-dismiss="modal"></p>
            <div class="modal-body">
                <h2>チケット返金(キャンセル)内容照会<br>Ticket refund(cancel) details</h2>
                <p class="row">
                以下の内容でご予約を承っております。<br>
                キャンセルを行う場合は返金(キャンセル)を申し込むボタンを押してください。<br>
                Your ticket reservation details are as follows.<br>
                Please click on the button “Request for a refund(cancel)” to cancel your ticket.
                </p>
                <table class="table table-reservation-confirm">
                </table>


                <div class="btns2clm">
                    <p class="btn btn-lg btn-next btn-exec execute-cancel" data-url="/customer/cancel/executeByPaymentNo"><span><span>返金(キャンセル)を申し込む<br>Request for<br>a refund(cancel)</span></p>
                    <p class="btn btn-lg btn-back" data-dismiss="modal"><span><span>戻る<br><br>Back</span></p>
                </div>

                <p>
                なお、一旦申込されますと申し込み取り消しはできませんのでご注意ください。<br>
                Please note that once you submit your request, you cannot cancel it.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="modal modal-cancel fade cancel-reservation-complete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <p class="btn-circle-close" data-dismiss="modal"></p>
            <div class="modal-body">
                <h2>チケット返金(キャンセル)内容照会<br>Ticket refund(cancel) details</h2>
                <p>
                返金(キャンセル)の手続きを受付けました。<br>
                実際のキャンセル処理は申し込みの翌日に自動的に実施します<br>
                お客様ならびに関係する皆様に多大なるご迷惑、ご心配をお掛けしたことを重ねてお詫び申し上げます。<br>
                We have received your request for a refund (cancellation).<br>
                Refund will be processed automatically in the following day upon your request.<br>
                We are deeply sorry for the anxiety and inconvenience we caused you and all parties concerned
                </p>
            </div>
            <div class="modal-footer">
                <p class="btn btn-close" data-dismiss="modal"><span><span>閉じる<br>Close</span></p>
            </div>
        </div>
    </div>
</div>

<div class="modal modal-mail fade loading" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <p class="btn-circle-close" data-dismiss="modal"></p>
            <div class="modal-body">
                キャンセルしています...<br>Now canceling...
            </div>
            <div class="modal-footer">
                <p class="btn btn-close" data-dismiss="modal"><span>閉じる<br>Close</span></p>
            </div>
        </div>
    </div>
</div>

<div class="modal modal-cancel fade details-refund-procedure-ja" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <p class="btn-circle-close" data-dismiss="modal"></p>
            <div class="modal-body text-left">
                <h2>CHEVRE_EVENT_NAMEOnline Ticketシステム障害による<br>不要チケット購入のキャンセルおよびご返金のお手続き拡大のご案内</h2>
                <p class="row">
                CHEVRE_EVENT_NAMEOnline Ticket販売システムにおいて障害が発生し、皆さまに大変ご迷惑をおかけしております事、改めて深くお詫び申し上げます。<br>
                <br>
                10月15日（土）販売分に加え、先行販売期間（10月19日（水）12:00～20日(木)11:59)販売分に関しても不要チケットのキャンセル・ご返金をうけたまわりますので、下記チケット返金（キャンセル）受付ページにてお手続きいただきますよう、お願い申し上げます。<br>
                <br>
                ●対象者：10月15日（土）および先行販売期間（10月19日（水）12:00～20日(木)11:59)販売分のチケットをお持ちのお客様<br>
                ●受付期限：11月18日（金）まで<br>
                ●受付ページ：<a href="https://cancel.tiff-ticket.net">https://cancel.tiff-ticket.net</a><br>
                ※10月20日（木）12:00以降の販売分および入場記録のあるチケットのキャンセル・ご返金はうけたまわっておりません。<br>
                <br>
                ●返金方法：<br>
                【クレジットカード決済でご購入されたお客様】<br>
                映画祭事務局からクレジットカード会社を通じて、ご決済の取消し処理をさせていただいております。（※お客様による手続きは不要です。）<br>
                ご利用になったクレジットカード会社によってお取消し決済日が異なりますので、大変お手数ではございますが、クレジットカードの明細をご確認いただきますよう、お願い申し上げます。<br>
                <br>
                【コンビニ決済でご購入されたお客様】<br>
                コンビニ決済ご利用のお客様へは下記の方法で返金いたします。<br>
                手続きフローに沿って必要事項をご登録ください。<br>
                <br>
                ■郵便為替をご希望の場合<br>
                ご登録いただいた宛先に、郵便為替にてご返金いたします。<br>
                ※ご登録日より5営業日（土・日・祝日を除く）以内に返金発送いたします。<br>
                ※送金名義は、「東京CHEVRE_EVENT_NAME局」です。<br>
                <br>
                ■銀行口座振込みご希望の場合<br>
                1．ご登録いただいた宛先に、振込先情報をご返送いただくための「振込先情報シート」を速やかにご郵送いたします。<br>
                2．到着した「振込先情報シート」に銀行名、支店名等の口座情報を漏れなくご記入後、同封の返信封筒にてCHEVRE_EVENT_NAME事務局宛に「振込先情報シート」をご返送下さい。<br>
                3．「振込先情報シート」にてご指定いただいた銀行口座宛にお振込みにより返金いたします。<br>
                ※振込手数料は、CHEVRE_EVENT_NAME事務局にて負担いたします。<br>
                ※「振込先情報シート」」到着後、5営業日（土・日・祝日を除く）以内に返金いたします。<br>
                ※ご返金手続き完了後、お客様宛に「返金完了のお知らせ」をメールにてお送りいたします。<br>
                ※送金名義は、「CHEVRE_EVENT_NAME事務局」です。<br>
                </p>

                <p class="row" style="border: solid 2px #ff0000;">
                【ご注意ください】下記のお客様は返金（キャンセル）方法が異なります。<br>
                10月15日（土）に、お席が未確保にもかかわらず、コンビニエンスストアにて現金もしくはデビットカードにてチケット代金をお支払済みのお客様におかれましては、10月19日（水）にメールにてご案内している「CHEVRE_EVENT_NAME Online Ticket 返金のご案内 ※コンビニエンスストア・デビットカードにてお支払のお客様」の「返金登録フォーム」からご返金手続きをしていただくようお願い申し上げます。セキュリティーの観点から、「チケット返金（キャンセル）受付ページ」からお手続きはできません。<br>
                </p>

                <p class="row">
                この度は、お客様には多大なるご迷惑、ご心配をお掛けしたことを重ねてお詫び申し上げます。ご不明な点などございましたら、大変お手数ではございますが、以下お問い合わせ先までご連絡いただきますようお願い申し上げます。<br>
                <br>
                【チケット購入に関するお問い合わせ窓口】<br>
                お問合せフォーム：<a href="https://inquiry.tiff-ticket.net">inquiry.tiff-ticket.net</a><br>
                0120-656-339 （フリーダイヤル）　9:00～22:00　無休<br>
                050-3786-0368　12:00～18:00　無休
                </p>

                <div class="center">
                    <p class="btn btn-lg btn-back" data-dismiss="modal"><span><span>戻る<br><br>Back</span></p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal modal-cancel fade details-refund-procedure-en" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <p class="btn-circle-close" data-dismiss="modal"></p>
            <div class="modal-body text-left">
                <h2>Information regarding the expansion of the procedure to refund and cancel of the purchase of the unnecessary tickets due to the CHEVRE Online Ticket Sales system error.</h2>
                <p class="row">
                Once again, we deeply apologize for the CHEVRE Online Ticket Sales system error and the inconvenience it caused.<br>
                <br>
                In addition to the tickets sold on the 15 Oct 2016 (Sat.), we are taking cancel and refund requests for those sold during the advance sales period (19 Oct (Wed.) 12:00 ~ 20 Oct (Thu)11:59). We would like to ask you to complete the procedures at the ticket refund (cancellation) webpage below. <br>
                <br>
                ●Customers eligible for a refund： Customers with tickets sold on the 15 Oct 2016 (Sat.) and during the advance sales period (19 Oct (Wed.) 12:00 ~ 20 Oct (Thu)11:59)<br>
                ●Duration： Unitil 18 Nov 2016 (Fri).<br>
                ●Webpage：<a href="https://cancel.tiff-ticket.net">https://cancel.tiff-ticket.net</a><br>
                *Tickets bought after Oct. 20 (Thu.) 12:00 or with admission record cannot be cancelled or refunded.<br>
                <br>
                <br>
                ●Refund Method：<br>
                To the clients who purchased and settled the payment by credit card<br>
                The secretariat of the film festival is proceeding to the cancellation of the settled payment through your credit card company. (*No action is required on your part)<br>
                The day on which you will be receiving the refund depends on your credit card company. We apologize for the inconvenience, but we would like you to check your credit card statement.<br>
                <br>
                To the clients who purchased and settled the payment at a convenience store<br>
                We will refund our customers who have settled the payment at the convenience store by the following method. Please register the required information according to the procedure flow.<br>
                <br>
                Refund by postal money order (yubin-kawase)<br>
                It will be dispatched within 5 business days (excluding Saturday, Sunday & holiday) after your registration.<br>
                ※ The name of the remitter will be “29th Tokyo International Film Festival”.<br>
                <br>
                Refund by Bank Transfer<br>
                ①	 By post, we will immediately send Bank Account Information Sheet to the registered address, so you can post us back your bank account information.<br>
                ②	Please write your bank account information (bank name, branch name, etc.) on the Bank Account Information Sheet you will receive, and post it back to 29th Tokyo International Film Festival using the sase (self-addressed stamped envelope) that is enclosed.<br>
                ③	We will make the refund by bank transfer, to your bank account you have written on Bank Account Information Sheet.<br>
                ※	29th Tokyo International Film Festival will cover the bank transfer fee.<br>
                ※	Refund will be made within 5 business days (excluding Saturday, Sunday & holiday) after we receive the receipt of your Bank Account Information Sheet.<br>
                ※	You will receive an email titled “Notice of Refund Completion” once the procedure has finished.<br>
                ※	The name of the remitter will be “29th Tokyo International Film Festival”.<br>
                <br>

                <p class="row" style="border: solid 2px #ff0000;">
                【Attention please】 For the below customers, refund method is different from above. <br>
                For our customers who have paid the ticket fee at the convenience store by cash or by debit card although the seats were not secured, we would like you to ask for refund by following the procedure through the "refund registration form". The information was given in the email we sent you on Wednesday the 19th entitled “Tokyo International Film Festival Online Ticket System Refund Procedure (※For customers who have completed payment at convenience store/debit card) You cannot follow the procedure at this “ticket refund (cancel)” webpage for safety reasons.<br>
                </p>

                <p class="row">
                Again, we would like to express our sincere apology for the inconvenience caused.<br>
                Please contact us at below for further inquiries<br>
                <br>
                Inquiry Form: <a href="https://inquiry.tiff-ticket.net">inquiry.tiff-ticket.net</a><br>
                Toll-free number for English Speakers: 0120-656-339　（10:00-19:00/ daily）<br>
                Pay phone: 050-3786-0368　(12:00-18:00/ daily)<br>
                </p>

                <div class="center">
                    <p class="btn btn-lg btn-back" data-dismiss="modal"><span><span>戻る<br><br>Back</span></p>
                </div>
            </div>
        </div>
    </div>
</div>