<html lang="ja"><head>
	<meta charset="utf-8">
	<title>CHEVRE_EVENT_NAME（2016）Online Ticket</title>
	<meta name="description" content="CHEVRE_EVENT_NAMEは2016年10月25日（火）から11月3日（木・祝）の10日間開催いたします。">
	<meta name="keywords" content="CHEVRE_EVENT_NAME, 2016, CHEVRE, コンペティション,Competiton,">
	<meta name="viewport" content="width=device-width,user-scalable=no,maximum-scale=1">
	<meta name="format-detection" content="telephone=no">

	<link href="/css/style.css" rel="stylesheet">

	<script async="" src="https://www.google-analytics.com/analytics.js"></script><script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

	<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
	ga('create', 'UA-85885312-1', 'auto');
	ga('send', 'pageview');
	</script>
</head>

<body id="page_customer_cancel" class="page-customer page-cancel page-ja">
	<header>
		<div class="container">
			<a href="javascript:void(0);" class="header-logo"><img src="/images/common/logo.png" alt="CHEVRE"></a>
			<div class="header-menu">
			</div>
		</div>
	</header>

	<div class="container">
		<style>
            .container h2 {
				font-size: 1.3em;
			}
			p {
				line-height: 1.5;
			}
			.small {
				font-size: 90%;
			}
		</style>

		<div class="cancelform">
			<h2></h2>
			<p class="row">
			</p>

			<div class="small">
				<h2>
				    不要チケットのキャンセルおよびご返金の受付は<br>2016年11月18日（金）をもって終了致しました。
				</h2>
				<p class="row">
				    The Refund and Cancellation of the Unnecessary Tickets<br>Registration ended on Fri 18 Nov 2016.
				</p>
			</div>

			<p class="errmsg"></p>

		</div>
	</div>

	<footer>
	</footer>

</body>
</html>