<h1 class="pagetitle"><%- __('h1.Policy') %></h1>

<div class="lawtext m-t-3em">
<%- include(`./_include/${locale}`) %>
</div>

<div class="center">
    <a class="btn btn-lg btn-big" href="javascript:window.close();"><span><%- __('Button.Close') %></span></a>
</div>
