<h1 class="pagetitle">Cancellation complete</h1>
<p class="guidetext">
    予約をキャンセルしました。
</p>

<div class="center">
    <a class="btn btn-lg btn-big" href="<%= conf.get('official_website_url') %>"><span><%- __('Button.BackToOfficialSite') %></span></a>
</div>
