<h1 class="pagetitle">特定商取引法に基づく表示</h1>

<h2 class="lawheading">事業者</h2>
<div class="lawtext">
    <dl>
        <dt>販売事業者</dt>
        <dd>株式会社エイガウォーカー</dd>

        <dt>所在地</dt>
        <dd>（2016/9/16以前）東京都千代田区富士見一丁目12番1号 Ｑ－ＤＡＮ１９９１ビル４階</dd>
        <dd>（2016/9/17以降）東京都千代田区富士見一丁目6番1号 富士見ビル７階</dd>

        <dt>運営責任者</dt>
        <dd>代表取締役社長  木場正博</dd>

        <dt>お問い合わせ先</dt>
        <dd>映画祭オンラインチケットに関するお問い合わせは以下へお願いいたします。<br>
        〈お客様窓口〉<br>
        050-3786-0368　(12:00～18:00)　<br>
       　休業：土/日/祝日　CHEVRE_EVENT_NAME期間中は無休　（2016年10月25日～11月3日）
        </dd>
    </dl>
</div>


<h2 class="lawheading">ご購入に関して</h2>
<div class="lawtext">
    <dl>
      <dt>販売価格/購入可能期間</dt>
      <dd>商品ごとに表示しています。</dd>

      <dt>ご購入内容の有効期間</dt>
      <dd>ご購入対象映画の上映中</dd>

      <dt>ご購入枚数制限</dt>
      <dd>１回のお申込みにつき、4枚までとなります。<br>
      5枚以上のお申込みの場合は、必要回数のお手続きをお願いいたします。</dd>

      <dt>ご購入内容の変更・キャンセル・払い戻し</dt>
      <dd>
          <ol>
              <li>
              当社は、購入申込み手続きが完了した映画祭オンラインチケットに関し、上映映画館、スケジュール等に関する錯誤、券種選択の間違い、交通渋滞や駐車場渋滞による映画館への来場遅延、座席指定券発行遅延等、理由の如何にかかわらず、当該映画祭オンラインチケットの変更およびご購入のキャンセルは一切受け付けていません。<br>
              当社の映画祭オンラインチケットはクーリングオフ対象外です。
              </li>
              <li>
              お客様が映画祭オンラインチケットをご購入後、ご購入対象映画を鑑賞しなかった場合であっても当該映画祭オンラインチケットの変更およびご購入のキャンセルはいたしませんのでご注意ください。
              </li>
              <li>
              何らかの理由によりご購入対象映画が上映中止となった場合、映画祭主催者の判断によりチケット代金の払戻しが行われ、映画祭主催者の依頼により当社が、お        客様(ご購入名義人)対象に、払戻し業務の一部を代行する事があります。<br>
              払戻し受付期間は、映画祭主催者より当社へ要請のあった期間内とさせていただきます。<br>
              所定の受付期間を過ぎてからのお申し出はお受けできません。<br>
              またご購入名義人以外の方からの返金の申し出はできません。<br>
              当社にて払戻し業務を行う場合、まずご登録のメールアドレスへ上映中止案内を送らせていただきます。<br>
              返金額はチケット代金とし、それ以外の費用(交通費、宿泊費、通信費等)に関する補償は致しません。<br>
              払い戻し方法は原則としてご利用のクレジットカード等決済サービスの処理方法に準じます。
              </li>
          </ol>
      </dd>


      <dt>お支払い方法</dt>
      <dd>お支払い方法は以下の通りです。<br>ただし、お客様が利用するインターネットサービスの制限または各決済方法のメンテナンス等の理由により以下の決済方法の一部が利用できない場合があります。<br>
      ① 以下のクレジットカードによるお支払い<br>
          ・VISA/MASTER（ビザ／マスター）<br>
          ・JCB（ジェーシービー）<br>
          ・AMEX（アメックス）<br>
          ・DINERS（ダイナース）<br>
          ② コンビニエンスストアでのお支払い<br>
      </dd>


      <dt>権利の移転時期</dt>
      <dd>購入された映画祭オンラインチケットの権利がお客様に移転するのは、購入契約成立時となります。</dd>


      <dt>お支払時期</dt>
      <dd>購入契約成立時にお支払いとなります（ただしご請求日はカード会社により異なります）。</dd>


      <dt>販売価格のほかにご負担いただく費用</dt>
      <dd>本サービスはインターネット上のサービスとなりますので、ご利用に際して発生するインターネット接続（携帯機器によるアクセスの場合を含みます）の通信回線等    の費用はお客様のご負担となります。</dd>


      <dt>その他</dt>
      <dd> 「映画祭オンラインチケットサービス利用規約」をご確認、ご了承のうえご利用下さい。</dd>


    </dl>
</div>

<div class="center">
    <a class="btn btn-lg btn-big" href="javascript:window.close();"><span><%- __('Button.Close') %></span></a>
</div>
