<h1 class="pagetitle">Statement Based on the Act on Specified Commercial Transactions</h1>

<h2 class="lawheading">Name of Service Provider</h2>
<div class="lawtext">
    <dl>
        <dt>Seller</dt>
        <dd>Eiga Walker Inc.</dd>

        <dt>Location</dt>
        <dd>(Until September 16, 2016) 4th Floor Q-DAN1991 Bldg., 1-12-1 Fujimi, Chiyoda-ku, Tokyo</dd>
        <dd>(From September 17, 2016) 7th Floor Fujimi Bldg., 1-6-1 Fujimi, Chiyoda-ku, Tokyo</dd>

        <dt>Name of representative</dt>
        <dd>Masahiro Kiba, President</dd>

        <dt>Contact information</dt>
        <dd>For inquiries regarding Film Festival Online Ticket, please contact the following Customer Support Desk.<br>
        〈Customer Support Desk〉<br>
        Telephone: 050-3786-0368　(12:00 to 6:00 p.m.)<br>
        Closed Saturdays, Sundays, and national holidays. Seven days a week during the Tokyo International Film Festival (from October 25, 2016 to November 3, 2016).
        </dd>
    </dl>
</div>


<h2 class="lawheading">About Purchase</h2>
<div class="lawtext">
    <dl>
      <dt>Sales price / Ticket sales period</dt>
      <dd>Sales price and ticket sales period are shown by product.</dd>

      <dt>Effective period for purchased content</dt>
      <dd>During the ongoing period in which the film for which you purchased a ticket is being screened.</dd>

      <dt>Limit to the number of tickets one person can purchase</dt>
      <dd>You can purchase maximum 4 tickets per application.<br>
      When you apply to purchase 5 tickets or more, please repeat the application procedures as often as necessary.
      </dd>

      <dt>Change of purchased content, cancellation and refunding</dt>
      <dd>
          <ol>
              <li>
              The Company accepts no change and no cancellation of the purchase of a Film Festival Online Ticket for which you have completed the application procedures, regardless of the reason, including misunderstanding about the movie theater where the film is showing, misunderstanding about the film screening schedule, mistake in selecting the proper ticket type, failure to arrive at the movie theater on time due to traffic congestion or congestion in the parking lot, and a delay in the issuing of a reserved-seat ticket. The Film Festival Online Tickets of the Company are not subject to the cooling-off system.
              </li>
              <li>
              Please note that the Company will not change or cancel your Film Festival Online Ticket after purchase even if you did not view the film for which you purchased the Film Festival Online Ticket.
              </li>
              <li>In the event the screen presentation of the film for which you purchased a Film Festival Online Ticket for is suspended for some reason, the price paid for the Film Festival Online Tickets will be refunded based on the decision of the Film Festival Organizers. The Company may, at the request of the Film Festival Organizers, handle part of the operations in making refunds to customers who purchased the tickets (purchasers) from the Company. The period for refund application shall be the period requested by the Film Festival Organizers. The Company will not accept refund applications after the prescribed application period. A refund application may be made only by the purchaser. If the Company handles the refunding of payments, we will first send you notice of the suspension of the film screening to your registered email address. The refund amount will be equal to the payment you made for the Film Festival Online Ticket. The Company will assume no responsibility for any other expenses (such as transportation costs, hotel bills, and communication costs).
              In principle, the method of refund shall be the method used by the credit card company or settlement service you use.
              </li>
          </ol>
      </dd>


      <dt>Payment method</dt>
      <dd>The following settlement methods are available for the purchase of a Film Festival Online Ticket using the Services. Please note, however, that some of these settlement methods may not be available if there is a limit in the Internet service that you use or due to other causes, such as maintenance work performed by individual settlement methods.<br>
          (i) Payment by the following credit cards<br>
          ・VISA/MASTER<br>
          ・JCB<br>
          ・AMEX<br>
          ・DINERS<br>
          (ii) Payment at a convenience store
      </dd>


      <dt>Time of transfer of rights</dt>
      <dd>The rights for the Film Festival Online Ticket that you purchased will be transferred to you when the purchase agreement is formed.</dd>


      <dt>Time of payment</dt>
      <dd>The time of payment shall be when your purchase agreement is formed (Please note the invoice date differs depending on the credit card company.</dd>


      <dt>Other expected costs besides prices</dt>
      <dd>The Services are provided online. The communication charges arising from Internet connections (including Internet access via hand-held terminals) and other costs when you use the Services shall be borne by you.</dd>


      <dt>Other</dt>
      <dd>Please check and acknowledge the Terms of Use of Film Festival Online Ticket Service before you use the Services.</dd>


    </dl>
</div>

<div class="center">
    <a class="btn btn-lg btn-big" href="javascript:window.close();"><span>Close</span></a>
</div>
