<h1 class="pagetitle">プライバシーポリシー</h1>
<div class="lawtext m-t-3em">
    <p>株式会社エイガウォーカー（以下、「当社」）は、個人情報保護の重要性に鑑み、「個人情報の保護に関する法律」を遵守し、お客様からご提供いただいた個人情報を適切に取り扱い、お客様のプライバシーの保護に努めます。<br>
    なお、個人情報とは、住所、氏名、電話番号、e-mailアドレスその他お客様を特定の個人として識別することができる情報（他の情報と容易に照合することができ、それにより特定の個人を識別することができることとなるものも含みます。）をいいます。</p>

    <ol>
        <li>
            <h3>個人情報の収集について</h3>
            当社は、主に以下の場合にお客様から個人情報を収集しております。収集した個人情報の利用目的については以下の通りです。<br>
            その他、個別の利用目的がある場合には、その都度明示しております。<br>
            ① 各種サービスへのご登録、お申し込み<br>
            〈利用目的〉<br>
            ・ご登録、お申し込みの確認のため<br>
            ・各種サービスの提供のため<br>
            ② 各種アンケートへのご協力<br>
            〈利用目的〉<br>
            ・アンケートを集計し、統計的な情報を作成するため<br>
            ③ 懸賞、プレゼント、コンテスト等へのご応募<br>
            〈利用目的〉<br>
            ・当選、入選の連絡、景品、賞品等の発送のため<br>
            ④ 取材協力へのご登録、お申し込み<br>
            〈利用目的〉<br>
            ・ご登録、お申し込みの確認のため<br>
            ・取材協力の依頼、謝礼等の提供のため<br>
            ⑤ 商品、有料サービスのご注文<br>
            〈利用目的〉<br>
            ・ご注文の確認のため<br>
            ・代金決済、商品発送のため<br>
            ⑥ 採用へのご応募<br>
            〈利用目的〉<br>
            ・採用の可否を判断するため<br>
            ・就職セミナー等のご案内をお送りするため<br>
            いずれの収集の場合においても、個人情報を集計して個人を識別することができない統計的な資料を作成するために、個人情報を利用する場合がございます。<br>
            この資料自体は、統計的な資料であり、個人を識別することができる個人情報は含まれません。<br>
            また、当社での新しい商品、サービスなどの開発の参考とさせていただくほか、当社より新製品や各種サービスなど（当社のものであるかどうかを問いません）に関する情報をご案内させていただくために、個人情報を利用する場合がございます。<br>
            当社は、個人情報の収集に際し、利用目的などを偽ってお客様から個人情報を収集することはいたしません。<br>
            また、不正な手段により個人情報を収集することもいたしません。<br>
            お客様よりご提供いただきました個人情報は、法令の定めのある場合を除いて、お客様の事前のご同意をいただくことなく、予め明示した利用目的以外に使用しません。
        </li>

        <li>
            <h3>個人情報の利用、管理について</h3>
            当社では、お客様よりご提供いただきました個人情報を厳重に保管、管理し、個人情報の漏洩、滅失、毀損を防止するため、必要かつ適切な安全管理措置を講じます。<br>
            お客様よりご提供いただきました個人情報は、その利用目的の達成に必要な範囲内において、正確かつ最新の内容に保つよう努力するものとします。
        </li>

        <li>
            <h3>共同利用について</h3>
            当社は、お客様よりご提供いただきました個人情報を、下記のとおり共同利用させていただきます。<br>
            〈共同利用される項目〉<br>
            ・当社が収集したお客様の個人情報に関する全ての項目<br>
            〈共同利用する者の範囲〉<br>
            ・株式会社ＫＡＤＯＫＡＷＡおよび同社の有価証券報告書に記載されている連結子会社、持分法適用会社<br>
            〈共同利用する者の利用目的〉<br>
            ・共同利用する者が提供する複数のサービスを、お客様が横断的にご利用いただきやすくするため<br>
            ・共同利用する者で横断的に提供するサービスを、お客様にご利用いただけるようにするため<br>
            ・お客様にとって有用と思われる情報や商品、各種サービスなど（当社のものであるかどうかを問いません）に関する情報をご案内させていただくため<br>
            ・お客様の個人情報を集計して個人を識別することができない統計的な資料を作成するため<br>
            〈個人情報の管理について責任を有する者の名称〉<br>
            ・株式会社ＫＡＤＯＫＡＷＡ
        </li>

        <li>
            <h3>個人情報の第三者への開示、提供について</h3>
            当社は、お客様よりご提供いただきました個人情報を、上記ならびに下記に該当する場合を除いて、お客様の事前のご同意をいただくことなく、お客様よりご提供いただいた個人情報を第三者に開示、提供いたしません。<br>
            ・利用目的の遂行のため、個人情報の取り扱いを第三者に委託する場合<br>
            ・法令に基づく場合<br>
            なお、個人情報の取り扱いを第三者に委託する場合であっても、お客様の個人情報の安全管理が図れるよう、当社は当該委託先に対して、必要かつ適切な監督を行います。
        </li>

        <li>
            <h3>ご注意</h3>
            当社が運営するインターネット上のwebサイトには、外部へのリンクが含まれている場合があります。<br>
            このような外部のwebサイトにおいてのお客様の個人情報の取り扱いについては、当社では責任を負いかねますのでご注意ください。<br>
            また、当社が運営するサービスにおいて、広告などにより当社以外の第三者が独自に個人情報を収集する場合がございます。<br>
            このような場合のお客様の個人情報の取り扱いにつきましても、当社では責任を負いかねますのでご注意ください。
        </li>

        <li>
            <h3>お問合せについて</h3>
            お客様よりご提供いただきました個人情報は、法令の定めるところにより、お客様より、その利用目的、開示、訂正、追加、削除、利用停止、消去、第三者への提供の停止などを申し出ることができます。<br>
            お申し出は書面に下記の内容をご記載いただき、お客様が本人であることを証明するもの（免許証あるいはパスポートなどのコピー）を同封のうえ、郵送にて下記までお願いします。<br>
            お申し出内容の確認後、法令に基づき、適正に対応いたします。<br>
            その他当社の個人情報の取扱いに関するお問い合わせ、苦情につきましても、以下の宛先にてお受けしております。<br>
            ・お問い合わせの内容（確認、訂正、削除など。訂正の場合は訂正内容もご記載下さい）<br>
            ・ご提供いただいた時期、方法など<br>
            ・お客様のご連絡先（ご住所、お名前）<br>

            <hr>
            ご送付先<br>
            〈住所〉<br>
            〒１０２－００７１<br>
            東京都千代田区富士見一丁目１２番１号<br>
            〈社名〉<br>
            株式会社エイガウォーカー<br>
            管理部内  個人情報お問い合わせ係<br>
            <hr>
        </li>

        <li>
            <h3>プライバシーポリシーの変更</h3>
            当社は、このプライバシーポリシーの全部又は一部を変更する場合があります。<br>
            この場合には、当社ホームページ上において変更したプライバシーポリシーを掲載するものとします。<br>
            2011年9月  1日  制定<br>
            2014年7月15日  一部改正、同日実施<br>
            2014年9月  1日  一部改正、同日実施<br>
            2014年12月24日  一部改正、同日実施<br>
            2016年8月22日  一部改正、同日実施
        </li>

    </ol>

</div>

<div class="center">
    <a class="btn btn-lg btn-big" href="javascript:window.close();"><span>閉じる</span></a>
</div>