<h1 class="pagetitle">PRIVACY POLICY</h1>
<div class="lawtext m-t-3em">
    <p>EIGA WALKER INC. recognizes the importance of protecting Personal Information, and we strive to handle the Personal Information provided by our customers and to protect their privacy in accordance with the Act on the Protection of Personal Information of Japan.</p>
    <p>
    Personal Information means addresses, names, telephone numbers, email addresses, and any other information that can identify a customer as a specific individual. (Personal Information also includes information that can identify a specific individual by simple cross-referencing with other information.  
    </p>

    <ol>
        <li>
            <h3>Collection of Personal Information</h3>
            EIGA WALKER INC. collects Personal Information from customers mainly in the cases below. The purposes for using collected Personal Information are described below. If Personal Information is collected for any other purpose of use, then that purpose will be clearly stated when the information is collected.<br>
            1) Registering with or subscribing to a service<br>
            Purposes for using Personal Information:<br>
            To process a registration or subscription<br>
            To provide a service<br>
            <br>
            2) Filling in a questionnaire<br>
            Purpose for using Personal Information:<br>
            To create statistical information by processing questionnaire results<br>
            <br>
            3) Applying to win a prize, present, contest, or the like<br>
            Purposes for using Personal Information:<br>
            To contact a winner or selected person<br>
            To send a gift, prize, or the like<br>
            <br>
            4) Registering for or applying to participate in an interview survey<br>
            Purposes for using Personal Information:<br>
            To process a registration or application<br>
            To request participation in an interview survey<br>
            To provide a reward or the like<br>
            <br>
            5) Ordering a product or a paid service<br>
            Purposes for using Personal Information:<br>
            To confirm an order<br>
            To process a payment<br>
            To send a product<br>
            <br>
            6) Applying for a job<br>
            Purposes for using Personal Information:<br>
            To make a decision on employing a person<br>
            To send announcements about employment seminars or the like<br>
            <br>
            In each of the above cases of collecting Personal Information, the Personal Information EIGA WALKER INC. collects might be processed and used to create statistical reports that cannot be used to identify an individual. These documents are statistical documents, and no Personal Information that can be used to identify an individual is included in them.<br>
            EIGA WALKER INC. might refer to Personal Information in developing new products or services, and we might use Personal Information to announce new products, services, or the like (regardless of whether they are produced by EIGA WALKER INC.).<br>
            When EIGA WALKER INC. collects Personal Information from a customer, the purposes we state for using the Personal Information are accurate, and the methods we use to collect the Personal Information are lawful.<br>
            EIGA WALKER INC. will not use Personal Information provided by any customer for an unstated purpose without the prior consent of the customer, unless permitted by laws or regulations.
        </li>

        <li>
            <h3>Use and management of Personal Information</h3>
            EIGA WALKER INC. stringently stores and manages Personal Information provided by each customer and takes necessary and appropriate security-management measures in order to prevent the divulgence, loss, and data corruption of Personal Information.<br>
            EIGA WALKER INC. endeavors, within the scope necessary for the achievement of the purpose of use inquestion, to keep Personal Information provided by each customer accurate and updated.
        </li>

        <li>
            <h3>Joint use of Personal Information</h3>
            EIGA WALKER INC. jointly uses Personal Information provided by customers as follows:<br>
            Information that is jointly used<br>
            -   All Personal Information of customers collected by EIGA WALKER INC.<br>
            Entities with which Personal Information is jointly used<br>
            -   Personal Information is shared between KADOKAWA CORPORATION and the consolidated subsidiary companies and equity method affiliates stated in KADOKAWA CORPORATION’s securities reports.<br>
            Purpose of jointly using information<br>
            -   To make it easier for customers to comprehensively use the multiple services provided by each entity with which information is jointly used<br>
            -   To enable customers to use services provided on various platforms by entities with which information is jointly used<br>
            -   To announce information related to products, services, or the like (regardless of whether they are produced by EIGA WALKER INC.) that is considered to be helpful to customers<br>
            -   To process each customer’s Personal Information and create statistical reports that cannot be used to identify an individual<br>
            <br>
            Name of entity that is responsible for managing Personal Information<br>
            -   KADOKAWA CORPORATION<br>
        </li>

        <li>
            <h3>Disclosure or provision of Personal Information to a third party</h3>
            EIGA WALKER INC. will not divulge or provide Personal Information to a third party without the customer’s prior consent, unless the case in question falls under any of the cases above or below.<br>
            -   When handling of Personal Information is delegated to a third party in order to achieve the purpose for using that Personal Information<br>
            -   When it is permitted by laws or regulations EIGA WALKER INC. conducts the necessary and appropriate supervision of each subcontractor delegated to handle Personal Information in order to ensure the security management of each customer’s Personal Information, even if that handling is delegated to a third party.
        </li>

        <li>
            <h3>Caution</h3>
            Internet websites operated by EIGA WALKER INC. might include links to third-party websites. Please note that EIGA WALKER INC. is not responsible for the handling of any customer’s Personal Information by a third-party website. Within the services operated by EIGA WALKER INC., third parties might use advertisements, etc. to independently collect Personal Information. EIGA WALKER INC. is not responsible for such handling of any customer’s Personal Information by a third party.
        </li>

        <li>
            <h3>Inquiries</h3>
            Each customer may, in accordance with applicable laws and regulations, request EIGA WALKER INC. to explain the purpose of use of Personal Information provided by that customer or to disclose, correct, add to, delete, suspend use of, erase, or suspend provision to a third party of that Personal Information. To submit a request, please send the information below via the postal service together with a form of identification (such as a copy of your driver’s license or passport) to the address below. After checking the details of your request, EIGA WALKER INC. will respond appropriately and in accordance with laws and regulations.<br>
            The point of contact below also accepts other inquiries and complaints related to the handling of Personal Information by EIGA WALKER INC.<br>
            -   Details of your inquiry (confirmation, correction, deletion, etc.; if your inquiry is related to a correction, then please state the details of the correction)<br>
            -   When and how your Personal Information was provided<br>
            -   Your contact information (address and full name)<br>
            <hr>
            Personal Information Center, Administrative Department<br>
            EIGA WALKER INC.<br>
            1-12-1 Fujimi, Chiyoda-ku, Tokyo, 102-0071 Japan
            <hr>
        </li>

        <li>
            <h3>Amendment to privacy policy</h3>
            EIGA WALKER INC. might amend all or part of this privacy policy. If we amend all or part of this privacy policy, then those amendments will be published on our website.<br>
            Established on September 1, 2011<br>
            Partially revised and adopted on July 15, 2014<br>
            Partially revised and adopted on September 1, 2014<br>
            Partially revised and adopted on December 24, 2014<br>
            Partially revised and adopted on August 22, 2016
        </li>

    </ol>

</div>

<div class="center">
    <a class="btn btn-lg btn-big" href="javascript:window.close();"><span>Close</span></a>
</div>