<%- include('../../common/reserve/_complete') %>

<div class="navbtns">
    <a class="btn btn-lg btn-next" href="/staff/reserve/start?performance=<%= reservationDocuments[0].performance %>"><span><%- __('Button.ReserveMoreSameShow') %></span></a>
    <a class="btn-back" href="/staff/mypage"><span><%- __('Button.BackToMyPage') %></span></a>
</div>
