<%- include('../../common/reserve/_performances', {isSponsor: false, isStaff: true, isTel: false, isWindow: false}) %>

<a class="btn btn-default btn-lg btn-block" href="/staff/mypage"><%- __('Button.Back') %></a>
