<%- include('../../common/reserve/_tickets') %>

<div class="navbtns">
    <a class="btn btn-next" href="javascript:void(0);"><span><%- __('Button.Next') %></span></a>
    <a class="btn-back" href="/staff/reserve/performances"><span><%- __('Button.Back') %></span></a>
</div>
