<div class="loginform">
    
    <h1><img src="/images/common/logo.svg" alt=""></h1>
    <h2>予約管理ログイン</h2>


    <form method="post">
        <div class="form-group">
            <labeL for="id_userId">ID</labeL>
            <input type="text" name="userId" id="id_userId" class="form-control" value="<%- userId %>">
        </div>
        <div class="form-group">
            <label for="id_password">Password</label>
            <input type="password" name="password" id="id_password" class="form-control" value="<%- password %>">
        </div>

        <input type="hidden" name="language" value="ja">
        <input type="hidden" id="id_remember" name="remember" value="on">

        <% if (validation) { %>
            <% validation.forEach(function (error) { %>
                <p class="errmsg"><%- error.msg %></p>
            <% }) %>
        <% } %>

        <a class="btn btn-big btn-login" href="javascript:void(0);"><span>ログイン</span></a>
    </form>
</div>

<script>
$(function(){
    $('.btn-login').on('click', function(){
        $('form').submit();
    });
});
</script>

