<%
let routeName = '';
if (req.hasOwnProperty('route')) {
    routeName = req.route.path;
}
%>
<header>
    <div class="container">

        <a href="javascript:void(0);" class="header-logo"><img src="/images/common/logo.png" alt="CHEVRE"></a>

        <div class="header-menu">
            <% if (req.windowUser.isAuthenticated()) { %>
            <div class="menu-staff">
                <p class="myname"><%= __('Mr{{name}}', {name: req.windowUser.get('name')}) %></p>
                <div class="staff-btns">
                    <a class="btn btn-logout" href="/window/logout"><span><%- __('Button.Logout') %></span></a>
                    <% if (routeName.indexOf('mypage') < 0) { %>
                    <a class="btn" href="/window/mypage"><span>チケット照会</span></a>
                    <% } else { %>
                    <a class="btn btn-newticket" href="/window/reserve/start"><span><%- __('Button.NewTicket') %></span></a>
                    <% } %>
                </div>
            </div>
            <% } %>
        </div>
    </div>
</header>
