<%- include('../../common/reserve/_complete') %>

<div class="btnnavs">
    <a class="btn-back" href="<%= conf.get('official_website_url') %>"><span><%- __('Button.BackToOfficialSite') %></span></a>
</div>
