<%- include('../../common/reserve/_payment') %>

<div class="btns2clm">
    <a class="btn btn-lg btn-next" href="javascript:void(0);"><span><%- __('Button.Next') %></span></a>
    <a class="btn btn-lg btn-back" href="/customer/reserve/confirm"><span><%- __('Button.Back') %></span></a>
</div>
