<% if (moment() < moment(conf.get('datetimes.reservation_start_customers_second'))) { %>
<!--
    <p class="guidetext" style="padding-bottom: 0;">
    10/22(土) 12:00より２次販売を開始いたします。<br>
    同日11:45より販売準備のためのメンテナンスをいたしますので、それまでに購入を完了ください。<br>
    We will start the second ticket sales from 12:00PM Saturday, October 22th.<br>
    Please complete your purchase process by 11:45AM because we will have a maintenance for preparation.
    </p>
-->
<% } %>

<h1 class="pagetitle"><%- __('h1.Terms') %></h1>
<p class="guidetext"><%- __('Label.TermsGuideText') %></p>

<p class="termtext">
<%- include('../../common/reserve/_termtext') %>
</p>

<div class="loginform loginform-member">
    <form method="post">
        <a class="btn btn-big btn-login" href="javascript:void(0);"><span><%- __('Button.AcceptTermsAndNext') %></span></a>
    </form>
</div>

<script>
$(function(){
    $('.btn-login').on('click', function(){
        $('form').submit();
    });

});
</script>
