<%- include('../../common/reserve/_complete') %>

<div class="navbtns">
    <a class="btn btn-lg btn-next" href="/staff/reserve/start?performance=<%= reservations[0].performance %>"><span>続けて同じ回を予約する</span></a>
    <a class="btn-back" href="/staff/mypage"><span>マイページに戻る</span></a>
</div>
