<div class="screen" id="TohoRoppongiScreen4" style="height:480px;">
    <div class="screen-inner" style="background-image:url(/images/screen/00104.png);width:350px;height:480px;">
    
                        <div class="seat seat-normal" style="top:194px; left:86px"><a href="javascript:void(0)" data-seat-code="C-1"></a></div>
                    
                        <div class="seat seat-normal" style="top:194px; left:99px"><a href="javascript:void(0)" data-seat-code="C-2"></a></div>
                    
                        <div class="seat seat-normal" style="top:225px; left:86px"><a href="javascript:void(0)" data-seat-code="D-1"></a></div>
                    
                        <div class="seat seat-normal" style="top:225px; left:99px"><a href="javascript:void(0)" data-seat-code="D-2"></a></div>
                    
                        <div class="seat seat-normal" style="top:256px; left:86px"><a href="javascript:void(0)" data-seat-code="E-1"></a></div>
                    
                        <div class="seat seat-normal" style="top:256px; left:99px"><a href="javascript:void(0)" data-seat-code="E-2"></a></div>
                    
                        <div class="seat seat-normal" style="top:287px; left:86px"><a href="javascript:void(0)" data-seat-code="F-1"></a></div>
                    
                        <div class="seat seat-normal" style="top:287px; left:99px"><a href="javascript:void(0)" data-seat-code="F-2"></a></div>
                    
                        <div class="seat seat-normal" style="top:318px; left:86px"><a href="javascript:void(0)" data-seat-code="G-1"></a></div>
                    
                        <div class="seat seat-normal" style="top:318px; left:99px"><a href="javascript:void(0)" data-seat-code="G-2"></a></div>
                    
                        <div class="seat seat-normal" style="top:349px; left:86px"><a href="javascript:void(0)" data-seat-code="H-1"></a></div>
                    
                        <div class="seat seat-normal" style="top:349px; left:99px"><a href="javascript:void(0)" data-seat-code="H-2"></a></div>
                    
                        <div class="seat seat-normal" style="top:380px; left:86px"><a href="javascript:void(0)" data-seat-code="I-1"></a></div>
                    
                        <div class="seat seat-normal" style="top:380px; left:99px"><a href="javascript:void(0)" data-seat-code="I-2"></a></div>
                    
                        <div class="seat seat-normal" style="top:125px; left:133px"><a href="javascript:void(0)" data-seat-code="A-5"></a></div>
                    
                        <div class="seat seat-normal" style="top:125px; left:146px"><a href="javascript:void(0)" data-seat-code="A-6"></a></div>
                    
                        <div class="seat seat-normal" style="top:125px; left:159px"><a href="javascript:void(0)" data-seat-code="A-7"></a></div>
                    
                        <div class="seat seat-normal" style="top:125px; left:172px"><a href="javascript:void(0)" data-seat-code="A-8"></a></div>
                    
                        <div class="seat seat-normal" style="top:125px; left:185px"><a href="javascript:void(0)" data-seat-code="A-9"></a></div>
                    
                        <div class="seat seat-normal" style="top:125px; left:198px"><a href="javascript:void(0)" data-seat-code="A-10"></a></div>
                    
                        <div class="seat seat-normal" style="top:125px; left:211px"><a href="javascript:void(0)" data-seat-code="A-11"></a></div>
                    
                        <div class="seat seat-normal" style="top:125px; left:224px"><a href="javascript:void(0)" data-seat-code="A-12"></a></div>
                    
                        <div class="seat seat-normal" style="top:156px; left:133px"><a href="javascript:void(0)" data-seat-code="B-5"></a></div>
                    
                        <div class="seat seat-normal" style="top:156px; left:146px"><a href="javascript:void(0)" data-seat-code="B-6"></a></div>
                    
                        <div class="seat seat-normal" style="top:156px; left:159px"><a href="javascript:void(0)" data-seat-code="B-7"></a></div>
                    
                        <div class="seat seat-normal" style="top:156px; left:172px"><a href="javascript:void(0)" data-seat-code="B-8"></a></div>
                    
                        <div class="seat seat-normal" style="top:156px; left:185px"><a href="javascript:void(0)" data-seat-code="B-9"></a></div>
                    
                        <div class="seat seat-normal" style="top:156px; left:198px"><a href="javascript:void(0)" data-seat-code="B-10"></a></div>
                    
                        <div class="seat seat-normal" style="top:156px; left:211px"><a href="javascript:void(0)" data-seat-code="B-11"></a></div>
                    
                        <div class="seat seat-normal" style="top:156px; left:224px"><a href="javascript:void(0)" data-seat-code="B-12"></a></div>
                    
                        <div class="seat seat-normal" style="top:194px; left:133px"><a href="javascript:void(0)" data-seat-code="C-5"></a></div>
                    
                        <div class="seat seat-normal" style="top:194px; left:146px"><a href="javascript:void(0)" data-seat-code="C-6"></a></div>
                    
                        <div class="seat seat-normal" style="top:194px; left:159px"><a href="javascript:void(0)" data-seat-code="C-7"></a></div>
                    
                        <div class="seat seat-normal" style="top:194px; left:172px"><a href="javascript:void(0)" data-seat-code="C-8"></a></div>
                    
                        <div class="seat seat-normal" style="top:194px; left:185px"><a href="javascript:void(0)" data-seat-code="C-9"></a></div>
                    
                        <div class="seat seat-normal" style="top:194px; left:198px"><a href="javascript:void(0)" data-seat-code="C-10"></a></div>
                    
                        <div class="seat seat-normal" style="top:194px; left:211px"><a href="javascript:void(0)" data-seat-code="C-11"></a></div>
                    
                        <div class="seat seat-normal" style="top:194px; left:224px"><a href="javascript:void(0)" data-seat-code="C-12"></a></div>
                    
                        <div class="seat seat-normal" style="top:225px; left:133px"><a href="javascript:void(0)" data-seat-code="D-5"></a></div>
                    
                        <div class="seat seat-normal" style="top:225px; left:146px"><a href="javascript:void(0)" data-seat-code="D-6"></a></div>
                    
                        <div class="seat seat-normal" style="top:225px; left:159px"><a href="javascript:void(0)" data-seat-code="D-7"></a></div>
                    
                        <div class="seat seat-normal" style="top:225px; left:172px"><a href="javascript:void(0)" data-seat-code="D-8"></a></div>
                    
                        <div class="seat seat-normal" style="top:225px; left:185px"><a href="javascript:void(0)" data-seat-code="D-9"></a></div>
                    
                        <div class="seat seat-normal" style="top:225px; left:198px"><a href="javascript:void(0)" data-seat-code="D-10"></a></div>
                    
                        <div class="seat seat-normal" style="top:225px; left:211px"><a href="javascript:void(0)" data-seat-code="D-11"></a></div>
                    
                        <div class="seat seat-normal" style="top:225px; left:224px"><a href="javascript:void(0)" data-seat-code="D-12"></a></div>
                    
                        <div class="seat seat-normal" style="top:256px; left:133px"><a href="javascript:void(0)" data-seat-code="E-5"></a></div>
                    
                        <div class="seat seat-normal" style="top:256px; left:146px"><a href="javascript:void(0)" data-seat-code="E-6"></a></div>
                    
                        <div class="seat seat-normal" style="top:256px; left:159px"><a href="javascript:void(0)" data-seat-code="E-7"></a></div>
                    
                        <div class="seat seat-normal" style="top:256px; left:172px"><a href="javascript:void(0)" data-seat-code="E-8"></a></div>
                    
                        <div class="seat seat-normal" style="top:256px; left:185px"><a href="javascript:void(0)" data-seat-code="E-9"></a></div>
                    
                        <div class="seat seat-normal" style="top:256px; left:198px"><a href="javascript:void(0)" data-seat-code="E-10"></a></div>
                    
                        <div class="seat seat-normal" style="top:256px; left:211px"><a href="javascript:void(0)" data-seat-code="E-11"></a></div>
                    
                        <div class="seat seat-normal" style="top:256px; left:224px"><a href="javascript:void(0)" data-seat-code="E-12"></a></div>
                    
                        <div class="seat seat-normal" style="top:287px; left:133px"><a href="javascript:void(0)" data-seat-code="F-5"></a></div>
                    
                        <div class="seat seat-normal" style="top:287px; left:146px"><a href="javascript:void(0)" data-seat-code="F-6"></a></div>
                    
                        <div class="seat seat-normal" style="top:287px; left:159px"><a href="javascript:void(0)" data-seat-code="F-7"></a></div>
                    
                        <div class="seat seat-normal" style="top:287px; left:172px"><a href="javascript:void(0)" data-seat-code="F-8"></a></div>
                    
                        <div class="seat seat-normal" style="top:287px; left:185px"><a href="javascript:void(0)" data-seat-code="F-9"></a></div>
                    
                        <div class="seat seat-normal" style="top:287px; left:198px"><a href="javascript:void(0)" data-seat-code="F-10"></a></div>
                    
                        <div class="seat seat-normal" style="top:287px; left:211px"><a href="javascript:void(0)" data-seat-code="F-11"></a></div>
                    
                        <div class="seat seat-normal" style="top:287px; left:224px"><a href="javascript:void(0)" data-seat-code="F-12"></a></div>
                    
                        <div class="seat seat-normal" style="top:318px; left:133px"><a href="javascript:void(0)" data-seat-code="G-5"></a></div>
                    
                        <div class="seat seat-normal" style="top:318px; left:146px"><a href="javascript:void(0)" data-seat-code="G-6"></a></div>
                    
                        <div class="seat seat-normal" style="top:318px; left:159px"><a href="javascript:void(0)" data-seat-code="G-7"></a></div>
                    
                        <div class="seat seat-normal" style="top:318px; left:172px"><a href="javascript:void(0)" data-seat-code="G-8"></a></div>
                    
                        <div class="seat seat-normal" style="top:318px; left:185px"><a href="javascript:void(0)" data-seat-code="G-9"></a></div>
                    
                        <div class="seat seat-normal" style="top:318px; left:198px"><a href="javascript:void(0)" data-seat-code="G-10"></a></div>
                    
                        <div class="seat seat-normal" style="top:318px; left:211px"><a href="javascript:void(0)" data-seat-code="G-11"></a></div>
                    
                        <div class="seat seat-normal" style="top:318px; left:224px"><a href="javascript:void(0)" data-seat-code="G-12"></a></div>
                    
                        <div class="seat seat-normal" style="top:349px; left:133px"><a href="javascript:void(0)" data-seat-code="H-5"></a></div>
                    
                        <div class="seat seat-normal" style="top:349px; left:146px"><a href="javascript:void(0)" data-seat-code="H-6"></a></div>
                    
                        <div class="seat seat-normal" style="top:349px; left:159px"><a href="javascript:void(0)" data-seat-code="H-7"></a></div>
                    
                        <div class="seat seat-normal" style="top:349px; left:172px"><a href="javascript:void(0)" data-seat-code="H-8"></a></div>
                    
                        <div class="seat seat-normal" style="top:349px; left:185px"><a href="javascript:void(0)" data-seat-code="H-9"></a></div>
                    
                        <div class="seat seat-normal" style="top:349px; left:198px"><a href="javascript:void(0)" data-seat-code="H-10"></a></div>
                    
                        <div class="seat seat-normal" style="top:349px; left:211px"><a href="javascript:void(0)" data-seat-code="H-11"></a></div>
                    
                        <div class="seat seat-normal" style="top:349px; left:224px"><a href="javascript:void(0)" data-seat-code="H-12"></a></div>
                    
                        <div class="seat seat-normal" style="top:380px; left:133px"><a href="javascript:void(0)" data-seat-code="I-5"></a></div>
                    
                        <div class="seat seat-normal" style="top:380px; left:146px"><a href="javascript:void(0)" data-seat-code="I-6"></a></div>
                    
                        <div class="seat seat-normal" style="top:380px; left:159px"><a href="javascript:void(0)" data-seat-code="I-7"></a></div>
                    
                        <div class="seat seat-normal" style="top:380px; left:172px"><a href="javascript:void(0)" data-seat-code="I-8"></a></div>
                    
                        <div class="seat seat-normal" style="top:380px; left:185px"><a href="javascript:void(0)" data-seat-code="I-9"></a></div>
                    
                        <div class="seat seat-normal" style="top:380px; left:198px"><a href="javascript:void(0)" data-seat-code="I-10"></a></div>
                    
                        <div class="seat seat-normal" style="top:380px; left:211px"><a href="javascript:void(0)" data-seat-code="I-11"></a></div>
                    
                        <div class="seat seat-normal" style="top:380px; left:224px"><a href="javascript:void(0)" data-seat-code="I-12"></a></div>
                    
                        <div class="seat seat-normal" style="top:418px; left:82px"><a href="javascript:void(0)" data-seat-code="J-1"></a></div>
                    
                        <div class="seat seat-normal" style="top:418px; left:95px"><a href="javascript:void(0)" data-seat-code="J-2"></a></div>
                    
                        <div class="seat seat-normal" style="top:418px; left:108px"><a href="javascript:void(0)" data-seat-code="J-3"></a></div>
                    
                        <div class="seat seat-normal" style="top:418px; left:121px"><a href="javascript:void(0)" data-seat-code="J-4"></a></div>
                    
                        <div class="seat seat-normal" style="top:418px; left:134px"><a href="javascript:void(0)" data-seat-code="J-5"></a></div>
                    
                        <div class="seat seat-normal" style="top:418px; left:147px"><a href="javascript:void(0)" data-seat-code="J-6"></a></div>
                    
                        <div class="seat seat-normal" style="top:418px; left:160px"><a href="javascript:void(0)" data-seat-code="J-7"></a></div>
                    
                        <div class="seat seat-normal" style="top:418px; left:173px"><a href="javascript:void(0)" data-seat-code="J-8"></a></div>
                    
                        <div class="seat seat-normal" style="top:418px; left:186px"><a href="javascript:void(0)" data-seat-code="J-9"></a></div>
                    
                        <div class="seat seat-normal" style="top:418px; left:199px"><a href="javascript:void(0)" data-seat-code="J-10"></a></div>
                    
                        <div class="seat seat-normal" style="top:418px; left:212px"><a href="javascript:void(0)" data-seat-code="J-11"></a></div>
                    
                        <div class="seat seat-normal" style="top:418px; left:225px"><a href="javascript:void(0)" data-seat-code="J-12"></a></div>
                    
                        <div class="seat seat-normal" style="top:418px; left:238px"><a href="javascript:void(0)" data-seat-code="J-13"></a></div>
                    
                        <div class="seat seat-normal" style="top:418px; left:251px"><a href="javascript:void(0)" data-seat-code="J-14"></a></div>
                    
                        <div class="seat seat-normal" style="top:418px; left:264px"><a href="javascript:void(0)" data-seat-code="J-15"></a></div>
                    
                        <div class="seat seat-wheelchair" style="top:125px; left:86px"><a href="javascript:void(0)" data-seat-code="HC-1"></a></div>
                    
                        <div class="seat seat-wheelchair" style="top:125px; left:98px"><a href="javascript:void(0)" data-seat-code="HC-2"></a></div>
                    
    </div>
    <div class="zoom-btn"><a href="javascript:void(0)"><span class="text-ja">拡大を解除</span><span class="text-en">Cancel Zoom</span></a></div>
    <div class="balloon"></div>
</div>

<div class="sp-not-view device-type-pc"></div>
<div class="pc-not-view device-type-sp"></div>