<div class="screen" id="TohoRoppongiScreen6" style="height:525px;">
    <div class="screen-inner" style="background-image:url(/images/screen/00106.png);width:350px;height:525px;">
    
                        <div class="seat seat-normal" style="top:121px; left:86px"><a href="javascript:void(0)" data-seat-code="A-1"></a></div>
                    
                        <div class="seat seat-normal" style="top:121px; left:99px"><a href="javascript:void(0)" data-seat-code="A-2"></a></div>
                    
                        <div class="seat seat-normal" style="top:121px; left:112px"><a href="javascript:void(0)" data-seat-code="A-3"></a></div>
                    
                        <div class="seat seat-normal" style="top:121px; left:125px"><a href="javascript:void(0)" data-seat-code="A-4"></a></div>
                    
                        <div class="seat seat-normal" style="top:121px; left:138px"><a href="javascript:void(0)" data-seat-code="A-5"></a></div>
                    
                        <div class="seat seat-normal" style="top:121px; left:151px"><a href="javascript:void(0)" data-seat-code="A-6"></a></div>
                    
                        <div class="seat seat-normal" style="top:121px; left:164px"><a href="javascript:void(0)" data-seat-code="A-7"></a></div>
                    
                        <div class="seat seat-normal" style="top:121px; left:177px"><a href="javascript:void(0)" data-seat-code="A-8"></a></div>
                    
                        <div class="seat seat-normal" style="top:121px; left:190px"><a href="javascript:void(0)" data-seat-code="A-9"></a></div>
                    
                        <div class="seat seat-normal" style="top:121px; left:203px"><a href="javascript:void(0)" data-seat-code="A-10"></a></div>
                    
                        <div class="seat seat-normal" style="top:152px; left:86px"><a href="javascript:void(0)" data-seat-code="B-1"></a></div>
                    
                        <div class="seat seat-normal" style="top:152px; left:99px"><a href="javascript:void(0)" data-seat-code="B-2"></a></div>
                    
                        <div class="seat seat-normal" style="top:152px; left:112px"><a href="javascript:void(0)" data-seat-code="B-3"></a></div>
                    
                        <div class="seat seat-normal" style="top:152px; left:125px"><a href="javascript:void(0)" data-seat-code="B-4"></a></div>
                    
                        <div class="seat seat-normal" style="top:152px; left:138px"><a href="javascript:void(0)" data-seat-code="B-5"></a></div>
                    
                        <div class="seat seat-normal" style="top:152px; left:151px"><a href="javascript:void(0)" data-seat-code="B-6"></a></div>
                    
                        <div class="seat seat-normal" style="top:152px; left:164px"><a href="javascript:void(0)" data-seat-code="B-7"></a></div>
                    
                        <div class="seat seat-normal" style="top:152px; left:177px"><a href="javascript:void(0)" data-seat-code="B-8"></a></div>
                    
                        <div class="seat seat-normal" style="top:152px; left:190px"><a href="javascript:void(0)" data-seat-code="B-9"></a></div>
                    
                        <div class="seat seat-normal" style="top:152px; left:203px"><a href="javascript:void(0)" data-seat-code="B-10"></a></div>
                    
                        <div class="seat seat-normal" style="top:183px; left:86px"><a href="javascript:void(0)" data-seat-code="C-1"></a></div>
                    
                        <div class="seat seat-normal" style="top:183px; left:99px"><a href="javascript:void(0)" data-seat-code="C-2"></a></div>
                    
                        <div class="seat seat-normal" style="top:183px; left:112px"><a href="javascript:void(0)" data-seat-code="C-3"></a></div>
                    
                        <div class="seat seat-normal" style="top:183px; left:125px"><a href="javascript:void(0)" data-seat-code="C-4"></a></div>
                    
                        <div class="seat seat-normal" style="top:183px; left:138px"><a href="javascript:void(0)" data-seat-code="C-5"></a></div>
                    
                        <div class="seat seat-normal" style="top:183px; left:151px"><a href="javascript:void(0)" data-seat-code="C-6"></a></div>
                    
                        <div class="seat seat-normal" style="top:183px; left:164px"><a href="javascript:void(0)" data-seat-code="C-7"></a></div>
                    
                        <div class="seat seat-normal" style="top:183px; left:177px"><a href="javascript:void(0)" data-seat-code="C-8"></a></div>
                    
                        <div class="seat seat-normal" style="top:183px; left:190px"><a href="javascript:void(0)" data-seat-code="C-9"></a></div>
                    
                        <div class="seat seat-normal" style="top:183px; left:203px"><a href="javascript:void(0)" data-seat-code="C-10"></a></div>
                    
                        <div class="seat seat-normal" style="top:121px; left:242px"><a href="javascript:void(0)" data-seat-code="A-13"></a></div>
                    
                        <div class="seat seat-normal" style="top:121px; left:255px"><a href="javascript:void(0)" data-seat-code="A-14"></a></div>
                    
                        <div class="seat seat-normal" style="top:121px; left:268px"><a href="javascript:void(0)" data-seat-code="A-15"></a></div>
                    
                        <div class="seat seat-normal" style="top:152px; left:242px"><a href="javascript:void(0)" data-seat-code="B-13"></a></div>
                    
                        <div class="seat seat-normal" style="top:152px; left:255px"><a href="javascript:void(0)" data-seat-code="B-14"></a></div>
                    
                        <div class="seat seat-normal" style="top:152px; left:268px"><a href="javascript:void(0)" data-seat-code="B-15"></a></div>
                    
                        <div class="seat seat-normal" style="top:238px; left:86px"><a href="javascript:void(0)" data-seat-code="D-1"></a></div>
                    
                        <div class="seat seat-normal" style="top:238px; left:99px"><a href="javascript:void(0)" data-seat-code="D-2"></a></div>
                    
                        <div class="seat seat-normal" style="top:238px; left:112px"><a href="javascript:void(0)" data-seat-code="D-3"></a></div>
                    
                        <div class="seat seat-normal" style="top:238px; left:125px"><a href="javascript:void(0)" data-seat-code="D-4"></a></div>
                    
                        <div class="seat seat-normal" style="top:238px; left:138px"><a href="javascript:void(0)" data-seat-code="D-5"></a></div>
                    
                        <div class="seat seat-normal" style="top:238px; left:151px"><a href="javascript:void(0)" data-seat-code="D-6"></a></div>
                    
                        <div class="seat seat-normal" style="top:238px; left:164px"><a href="javascript:void(0)" data-seat-code="D-7"></a></div>
                    
                        <div class="seat seat-normal" style="top:238px; left:177px"><a href="javascript:void(0)" data-seat-code="D-8"></a></div>
                    
                        <div class="seat seat-normal" style="top:269px; left:86px"><a href="javascript:void(0)" data-seat-code="E-1"></a></div>
                    
                        <div class="seat seat-normal" style="top:269px; left:99px"><a href="javascript:void(0)" data-seat-code="E-2"></a></div>
                    
                        <div class="seat seat-normal" style="top:269px; left:112px"><a href="javascript:void(0)" data-seat-code="E-3"></a></div>
                    
                        <div class="seat seat-normal" style="top:269px; left:125px"><a href="javascript:void(0)" data-seat-code="E-4"></a></div>
                    
                        <div class="seat seat-normal" style="top:269px; left:138px"><a href="javascript:void(0)" data-seat-code="E-5"></a></div>
                    
                        <div class="seat seat-normal" style="top:269px; left:151px"><a href="javascript:void(0)" data-seat-code="E-6"></a></div>
                    
                        <div class="seat seat-normal" style="top:269px; left:164px"><a href="javascript:void(0)" data-seat-code="E-7"></a></div>
                    
                        <div class="seat seat-normal" style="top:269px; left:177px"><a href="javascript:void(0)" data-seat-code="E-8"></a></div>
                    
                        <div class="seat seat-normal" style="top:300px; left:86px"><a href="javascript:void(0)" data-seat-code="F-1"></a></div>
                    
                        <div class="seat seat-normal" style="top:300px; left:99px"><a href="javascript:void(0)" data-seat-code="F-2"></a></div>
                    
                        <div class="seat seat-normal" style="top:300px; left:112px"><a href="javascript:void(0)" data-seat-code="F-3"></a></div>
                    
                        <div class="seat seat-normal" style="top:300px; left:125px"><a href="javascript:void(0)" data-seat-code="F-4"></a></div>
                    
                        <div class="seat seat-normal" style="top:300px; left:138px"><a href="javascript:void(0)" data-seat-code="F-5"></a></div>
                    
                        <div class="seat seat-normal" style="top:300px; left:151px"><a href="javascript:void(0)" data-seat-code="F-6"></a></div>
                    
                        <div class="seat seat-normal" style="top:300px; left:164px"><a href="javascript:void(0)" data-seat-code="F-7"></a></div>
                    
                        <div class="seat seat-normal" style="top:300px; left:177px"><a href="javascript:void(0)" data-seat-code="F-8"></a></div>
                    
                        <div class="seat seat-normal" style="top:331px; left:86px"><a href="javascript:void(0)" data-seat-code="G-1"></a></div>
                    
                        <div class="seat seat-normal" style="top:331px; left:99px"><a href="javascript:void(0)" data-seat-code="G-2"></a></div>
                    
                        <div class="seat seat-normal" style="top:331px; left:112px"><a href="javascript:void(0)" data-seat-code="G-3"></a></div>
                    
                        <div class="seat seat-normal" style="top:331px; left:125px"><a href="javascript:void(0)" data-seat-code="G-4"></a></div>
                    
                        <div class="seat seat-normal" style="top:331px; left:138px"><a href="javascript:void(0)" data-seat-code="G-5"></a></div>
                    
                        <div class="seat seat-normal" style="top:331px; left:151px"><a href="javascript:void(0)" data-seat-code="G-6"></a></div>
                    
                        <div class="seat seat-normal" style="top:331px; left:164px"><a href="javascript:void(0)" data-seat-code="G-7"></a></div>
                    
                        <div class="seat seat-normal" style="top:331px; left:177px"><a href="javascript:void(0)" data-seat-code="G-8"></a></div>
                    
                        <div class="seat seat-normal" style="top:362px; left:86px"><a href="javascript:void(0)" data-seat-code="H-1"></a></div>
                    
                        <div class="seat seat-normal" style="top:362px; left:99px"><a href="javascript:void(0)" data-seat-code="H-2"></a></div>
                    
                        <div class="seat seat-normal" style="top:362px; left:112px"><a href="javascript:void(0)" data-seat-code="H-3"></a></div>
                    
                        <div class="seat seat-normal" style="top:362px; left:125px"><a href="javascript:void(0)" data-seat-code="H-4"></a></div>
                    
                        <div class="seat seat-normal" style="top:362px; left:138px"><a href="javascript:void(0)" data-seat-code="H-5"></a></div>
                    
                        <div class="seat seat-normal" style="top:362px; left:151px"><a href="javascript:void(0)" data-seat-code="H-6"></a></div>
                    
                        <div class="seat seat-normal" style="top:362px; left:164px"><a href="javascript:void(0)" data-seat-code="H-7"></a></div>
                    
                        <div class="seat seat-normal" style="top:362px; left:177px"><a href="javascript:void(0)" data-seat-code="H-8"></a></div>
                    
                        <div class="seat seat-normal" style="top:393px; left:86px"><a href="javascript:void(0)" data-seat-code="I-1"></a></div>
                    
                        <div class="seat seat-normal" style="top:393px; left:99px"><a href="javascript:void(0)" data-seat-code="I-2"></a></div>
                    
                        <div class="seat seat-normal" style="top:393px; left:112px"><a href="javascript:void(0)" data-seat-code="I-3"></a></div>
                    
                        <div class="seat seat-normal" style="top:393px; left:125px"><a href="javascript:void(0)" data-seat-code="I-4"></a></div>
                    
                        <div class="seat seat-normal" style="top:393px; left:138px"><a href="javascript:void(0)" data-seat-code="I-5"></a></div>
                    
                        <div class="seat seat-normal" style="top:393px; left:151px"><a href="javascript:void(0)" data-seat-code="I-6"></a></div>
                    
                        <div class="seat seat-normal" style="top:393px; left:164px"><a href="javascript:void(0)" data-seat-code="I-7"></a></div>
                    
                        <div class="seat seat-normal" style="top:393px; left:177px"><a href="javascript:void(0)" data-seat-code="I-8"></a></div>
                    
                        <div class="seat seat-normal" style="top:424px; left:86px"><a href="javascript:void(0)" data-seat-code="J-1"></a></div>
                    
                        <div class="seat seat-normal" style="top:424px; left:99px"><a href="javascript:void(0)" data-seat-code="J-2"></a></div>
                    
                        <div class="seat seat-normal" style="top:424px; left:112px"><a href="javascript:void(0)" data-seat-code="J-3"></a></div>
                    
                        <div class="seat seat-normal" style="top:424px; left:125px"><a href="javascript:void(0)" data-seat-code="J-4"></a></div>
                    
                        <div class="seat seat-normal" style="top:424px; left:138px"><a href="javascript:void(0)" data-seat-code="J-5"></a></div>
                    
                        <div class="seat seat-normal" style="top:424px; left:151px"><a href="javascript:void(0)" data-seat-code="J-6"></a></div>
                    
                        <div class="seat seat-normal" style="top:424px; left:164px"><a href="javascript:void(0)" data-seat-code="J-7"></a></div>
                    
                        <div class="seat seat-normal" style="top:424px; left:177px"><a href="javascript:void(0)" data-seat-code="J-8"></a></div>
                    
                        <div class="seat seat-normal" style="top:238px; left:216px"><a href="javascript:void(0)" data-seat-code="D-11"></a></div>
                    
                        <div class="seat seat-normal" style="top:238px; left:229px"><a href="javascript:void(0)" data-seat-code="D-12"></a></div>
                    
                        <div class="seat seat-normal" style="top:269px; left:216px"><a href="javascript:void(0)" data-seat-code="E-11"></a></div>
                    
                        <div class="seat seat-normal" style="top:269px; left:229px"><a href="javascript:void(0)" data-seat-code="E-12"></a></div>
                    
                        <div class="seat seat-normal" style="top:300px; left:216px"><a href="javascript:void(0)" data-seat-code="F-11"></a></div>
                    
                        <div class="seat seat-normal" style="top:300px; left:229px"><a href="javascript:void(0)" data-seat-code="F-12"></a></div>
                    
                        <div class="seat seat-normal" style="top:331px; left:216px"><a href="javascript:void(0)" data-seat-code="G-11"></a></div>
                    
                        <div class="seat seat-normal" style="top:331px; left:229px"><a href="javascript:void(0)" data-seat-code="G-12"></a></div>
                    
                        <div class="seat seat-normal" style="top:362px; left:216px"><a href="javascript:void(0)" data-seat-code="H-11"></a></div>
                    
                        <div class="seat seat-normal" style="top:362px; left:229px"><a href="javascript:void(0)" data-seat-code="H-12"></a></div>
                    
                        <div class="seat seat-normal" style="top:393px; left:216px"><a href="javascript:void(0)" data-seat-code="I-11"></a></div>
                    
                        <div class="seat seat-normal" style="top:393px; left:229px"><a href="javascript:void(0)" data-seat-code="I-12"></a></div>
                    
                        <div class="seat seat-normal" style="top:424px; left:216px"><a href="javascript:void(0)" data-seat-code="J-11"></a></div>
                    
                        <div class="seat seat-normal" style="top:424px; left:229px"><a href="javascript:void(0)" data-seat-code="J-12"></a></div>
                    
                        <div class="seat seat-normal" style="top:424px; left:242px"><a href="javascript:void(0)" data-seat-code="J-13"></a></div>
                    
                        <div class="seat seat-normal" style="top:424px; left:255px"><a href="javascript:void(0)" data-seat-code="J-14"></a></div>
                    
                        <div class="seat seat-normal" style="top:424px; left:268px"><a href="javascript:void(0)" data-seat-code="J-15"></a></div>
                    
                        <div class="seat seat-normal" style="top:462px; left:86px"><a href="javascript:void(0)" data-seat-code="K-1"></a></div>
                    
                        <div class="seat seat-normal" style="top:462px; left:99px"><a href="javascript:void(0)" data-seat-code="K-2"></a></div>
                    
                        <div class="seat seat-normal" style="top:462px; left:112px"><a href="javascript:void(0)" data-seat-code="K-3"></a></div>
                    
                        <div class="seat seat-normal" style="top:462px; left:125px"><a href="javascript:void(0)" data-seat-code="K-4"></a></div>
                    
                        <div class="seat seat-normal" style="top:462px; left:138px"><a href="javascript:void(0)" data-seat-code="K-5"></a></div>
                    
                        <div class="seat seat-normal" style="top:462px; left:151px"><a href="javascript:void(0)" data-seat-code="K-6"></a></div>
                    
                        <div class="seat seat-normal" style="top:462px; left:164px"><a href="javascript:void(0)" data-seat-code="K-7"></a></div>
                    
                        <div class="seat seat-normal" style="top:462px; left:177px"><a href="javascript:void(0)" data-seat-code="K-8"></a></div>
                    
                        <div class="seat seat-normal" style="top:462px; left:190px"><a href="javascript:void(0)" data-seat-code="K-9"></a></div>
                    
                        <div class="seat seat-normal" style="top:462px; left:203px"><a href="javascript:void(0)" data-seat-code="K-10"></a></div>
                    
                        <div class="seat seat-normal" style="top:462px; left:216px"><a href="javascript:void(0)" data-seat-code="K-11"></a></div>
                    
                        <div class="seat seat-normal" style="top:462px; left:229px"><a href="javascript:void(0)" data-seat-code="K-12"></a></div>
                    
                        <div class="seat seat-normal" style="top:462px; left:242px"><a href="javascript:void(0)" data-seat-code="K-13"></a></div>
                    
                        <div class="seat seat-normal" style="top:462px; left:255px"><a href="javascript:void(0)" data-seat-code="K-14"></a></div>
                    
                        <div class="seat seat-normal" style="top:462px; left:268px"><a href="javascript:void(0)" data-seat-code="K-15"></a></div>
                    
                        <div class="seat seat-wheelchair" style="top:186px; left:242px"><a href="javascript:void(0)" data-seat-code="HC-1"></a></div>
                    
                        <div class="seat seat-wheelchair" style="top:186px; left:254px"><a href="javascript:void(0)" data-seat-code="HC-2"></a></div>
                    
    </div>
    <div class="zoom-btn"><a href="javascript:void(0)"><span class="text-ja">拡大を解除</span><span class="text-en">Cancel Zoom</span></a></div>
    <div class="balloon"></div>
</div>

<div class="sp-not-view device-type-pc"></div>
<div class="pc-not-view device-type-sp"></div>