<div class="screen" id="TohoRoppongiScreen3" style="height:500px;">
    <div class="screen-inner" style="background-image:url(/images/screen/00103.png);width:350px;height:500px;">
    
                        <div class="seat seat-normal" style="top:124px; left:88px"><a href="javascript:void(0)" data-seat-code="A-4"></a></div>
                    
                        <div class="seat seat-normal" style="top:124px; left:101px"><a href="javascript:void(0)" data-seat-code="A-5"></a></div>
                    
                        <div class="seat seat-normal" style="top:168px; left:62px"><a href="javascript:void(0)" data-seat-code="B-2"></a></div>
                    
                        <div class="seat seat-normal" style="top:168px; left:75px"><a href="javascript:void(0)" data-seat-code="B-3"></a></div>
                    
                        <div class="seat seat-normal" style="top:168px; left:88px"><a href="javascript:void(0)" data-seat-code="B-4"></a></div>
                    
                        <div class="seat seat-normal" style="top:168px; left:101px"><a href="javascript:void(0)" data-seat-code="B-5"></a></div>
                    
                        <div class="seat seat-normal" style="top:168px; left:114px"><a href="javascript:void(0)" data-seat-code="B-6"></a></div>
                    
                        <div class="seat seat-normal" style="top:168px; left:127px"><a href="javascript:void(0)" data-seat-code="B-7"></a></div>
                    
                        <div class="seat seat-normal" style="top:168px; left:140px"><a href="javascript:void(0)" data-seat-code="B-8"></a></div>
                    
                        <div class="seat seat-normal" style="top:168px; left:153px"><a href="javascript:void(0)" data-seat-code="B-9"></a></div>
                    
                        <div class="seat seat-normal" style="top:168px; left:166px"><a href="javascript:void(0)" data-seat-code="B-10"></a></div>
                    
                        <div class="seat seat-normal" style="top:168px; left:179px"><a href="javascript:void(0)" data-seat-code="B-11"></a></div>
                    
                        <div class="seat seat-normal" style="top:168px; left:192px"><a href="javascript:void(0)" data-seat-code="B-12"></a></div>
                    
                        <div class="seat seat-normal" style="top:168px; left:205px"><a href="javascript:void(0)" data-seat-code="B-13"></a></div>
                    
                        <div class="seat seat-normal" style="top:168px; left:218px"><a href="javascript:void(0)" data-seat-code="B-14"></a></div>
                    
                        <div class="seat seat-normal" style="top:168px; left:231px"><a href="javascript:void(0)" data-seat-code="B-15"></a></div>
                    
                        <div class="seat seat-normal" style="top:199px; left:62px"><a href="javascript:void(0)" data-seat-code="C-2"></a></div>
                    
                        <div class="seat seat-normal" style="top:199px; left:75px"><a href="javascript:void(0)" data-seat-code="C-3"></a></div>
                    
                        <div class="seat seat-normal" style="top:199px; left:88px"><a href="javascript:void(0)" data-seat-code="C-4"></a></div>
                    
                        <div class="seat seat-normal" style="top:199px; left:101px"><a href="javascript:void(0)" data-seat-code="C-5"></a></div>
                    
                        <div class="seat seat-normal" style="top:199px; left:114px"><a href="javascript:void(0)" data-seat-code="C-6"></a></div>
                    
                        <div class="seat seat-normal" style="top:199px; left:127px"><a href="javascript:void(0)" data-seat-code="C-7"></a></div>
                    
                        <div class="seat seat-normal" style="top:199px; left:140px"><a href="javascript:void(0)" data-seat-code="C-8"></a></div>
                    
                        <div class="seat seat-normal" style="top:199px; left:153px"><a href="javascript:void(0)" data-seat-code="C-9"></a></div>
                    
                        <div class="seat seat-normal" style="top:199px; left:166px"><a href="javascript:void(0)" data-seat-code="C-10"></a></div>
                    
                        <div class="seat seat-normal" style="top:199px; left:179px"><a href="javascript:void(0)" data-seat-code="C-11"></a></div>
                    
                        <div class="seat seat-normal" style="top:199px; left:192px"><a href="javascript:void(0)" data-seat-code="C-12"></a></div>
                    
                        <div class="seat seat-normal" style="top:199px; left:205px"><a href="javascript:void(0)" data-seat-code="C-13"></a></div>
                    
                        <div class="seat seat-normal" style="top:199px; left:218px"><a href="javascript:void(0)" data-seat-code="C-14"></a></div>
                    
                        <div class="seat seat-normal" style="top:199px; left:231px"><a href="javascript:void(0)" data-seat-code="C-15"></a></div>
                    
                        <div class="seat seat-normal" style="top:230px; left:62px"><a href="javascript:void(0)" data-seat-code="D-2"></a></div>
                    
                        <div class="seat seat-normal" style="top:230px; left:75px"><a href="javascript:void(0)" data-seat-code="D-3"></a></div>
                    
                        <div class="seat seat-normal" style="top:230px; left:88px"><a href="javascript:void(0)" data-seat-code="D-4"></a></div>
                    
                        <div class="seat seat-normal" style="top:230px; left:101px"><a href="javascript:void(0)" data-seat-code="D-5"></a></div>
                    
                        <div class="seat seat-normal" style="top:230px; left:114px"><a href="javascript:void(0)" data-seat-code="D-6"></a></div>
                    
                        <div class="seat seat-normal" style="top:230px; left:127px"><a href="javascript:void(0)" data-seat-code="D-7"></a></div>
                    
                        <div class="seat seat-normal" style="top:230px; left:140px"><a href="javascript:void(0)" data-seat-code="D-8"></a></div>
                    
                        <div class="seat seat-normal" style="top:230px; left:153px"><a href="javascript:void(0)" data-seat-code="D-9"></a></div>
                    
                        <div class="seat seat-normal" style="top:230px; left:166px"><a href="javascript:void(0)" data-seat-code="D-10"></a></div>
                    
                        <div class="seat seat-normal" style="top:230px; left:179px"><a href="javascript:void(0)" data-seat-code="D-11"></a></div>
                    
                        <div class="seat seat-normal" style="top:230px; left:192px"><a href="javascript:void(0)" data-seat-code="D-12"></a></div>
                    
                        <div class="seat seat-normal" style="top:230px; left:205px"><a href="javascript:void(0)" data-seat-code="D-13"></a></div>
                    
                        <div class="seat seat-normal" style="top:230px; left:218px"><a href="javascript:void(0)" data-seat-code="D-14"></a></div>
                    
                        <div class="seat seat-normal" style="top:230px; left:231px"><a href="javascript:void(0)" data-seat-code="D-15"></a></div>
                    
                        <div class="seat seat-normal" style="top:261px; left:62px"><a href="javascript:void(0)" data-seat-code="E-2"></a></div>
                    
                        <div class="seat seat-normal" style="top:261px; left:75px"><a href="javascript:void(0)" data-seat-code="E-3"></a></div>
                    
                        <div class="seat seat-normal" style="top:261px; left:88px"><a href="javascript:void(0)" data-seat-code="E-4"></a></div>
                    
                        <div class="seat seat-normal" style="top:261px; left:101px"><a href="javascript:void(0)" data-seat-code="E-5"></a></div>
                    
                        <div class="seat seat-normal" style="top:261px; left:114px"><a href="javascript:void(0)" data-seat-code="E-6"></a></div>
                    
                        <div class="seat seat-normal" style="top:261px; left:127px"><a href="javascript:void(0)" data-seat-code="E-7"></a></div>
                    
                        <div class="seat seat-normal" style="top:261px; left:140px"><a href="javascript:void(0)" data-seat-code="E-8"></a></div>
                    
                        <div class="seat seat-normal" style="top:261px; left:153px"><a href="javascript:void(0)" data-seat-code="E-9"></a></div>
                    
                        <div class="seat seat-normal" style="top:261px; left:166px"><a href="javascript:void(0)" data-seat-code="E-10"></a></div>
                    
                        <div class="seat seat-normal" style="top:261px; left:179px"><a href="javascript:void(0)" data-seat-code="E-11"></a></div>
                    
                        <div class="seat seat-normal" style="top:261px; left:192px"><a href="javascript:void(0)" data-seat-code="E-12"></a></div>
                    
                        <div class="seat seat-normal" style="top:261px; left:205px"><a href="javascript:void(0)" data-seat-code="E-13"></a></div>
                    
                        <div class="seat seat-normal" style="top:261px; left:218px"><a href="javascript:void(0)" data-seat-code="E-14"></a></div>
                    
                        <div class="seat seat-normal" style="top:261px; left:231px"><a href="javascript:void(0)" data-seat-code="E-15"></a></div>
                    
                        <div class="seat seat-normal" style="top:292px; left:62px"><a href="javascript:void(0)" data-seat-code="F-2"></a></div>
                    
                        <div class="seat seat-normal" style="top:292px; left:75px"><a href="javascript:void(0)" data-seat-code="F-3"></a></div>
                    
                        <div class="seat seat-normal" style="top:292px; left:88px"><a href="javascript:void(0)" data-seat-code="F-4"></a></div>
                    
                        <div class="seat seat-normal" style="top:292px; left:101px"><a href="javascript:void(0)" data-seat-code="F-5"></a></div>
                    
                        <div class="seat seat-normal" style="top:292px; left:114px"><a href="javascript:void(0)" data-seat-code="F-6"></a></div>
                    
                        <div class="seat seat-normal" style="top:292px; left:127px"><a href="javascript:void(0)" data-seat-code="F-7"></a></div>
                    
                        <div class="seat seat-normal" style="top:292px; left:140px"><a href="javascript:void(0)" data-seat-code="F-8"></a></div>
                    
                        <div class="seat seat-normal" style="top:292px; left:153px"><a href="javascript:void(0)" data-seat-code="F-9"></a></div>
                    
                        <div class="seat seat-normal" style="top:292px; left:166px"><a href="javascript:void(0)" data-seat-code="F-10"></a></div>
                    
                        <div class="seat seat-normal" style="top:292px; left:179px"><a href="javascript:void(0)" data-seat-code="F-11"></a></div>
                    
                        <div class="seat seat-normal" style="top:292px; left:192px"><a href="javascript:void(0)" data-seat-code="F-12"></a></div>
                    
                        <div class="seat seat-normal" style="top:292px; left:205px"><a href="javascript:void(0)" data-seat-code="F-13"></a></div>
                    
                        <div class="seat seat-normal" style="top:292px; left:218px"><a href="javascript:void(0)" data-seat-code="F-14"></a></div>
                    
                        <div class="seat seat-normal" style="top:292px; left:231px"><a href="javascript:void(0)" data-seat-code="F-15"></a></div>
                    
                        <div class="seat seat-normal" style="top:323px; left:62px"><a href="javascript:void(0)" data-seat-code="G-2"></a></div>
                    
                        <div class="seat seat-normal" style="top:323px; left:75px"><a href="javascript:void(0)" data-seat-code="G-3"></a></div>
                    
                        <div class="seat seat-normal" style="top:323px; left:88px"><a href="javascript:void(0)" data-seat-code="G-4"></a></div>
                    
                        <div class="seat seat-normal" style="top:323px; left:101px"><a href="javascript:void(0)" data-seat-code="G-5"></a></div>
                    
                        <div class="seat seat-normal" style="top:323px; left:114px"><a href="javascript:void(0)" data-seat-code="G-6"></a></div>
                    
                        <div class="seat seat-normal" style="top:323px; left:127px"><a href="javascript:void(0)" data-seat-code="G-7"></a></div>
                    
                        <div class="seat seat-normal" style="top:323px; left:140px"><a href="javascript:void(0)" data-seat-code="G-8"></a></div>
                    
                        <div class="seat seat-normal" style="top:323px; left:153px"><a href="javascript:void(0)" data-seat-code="G-9"></a></div>
                    
                        <div class="seat seat-normal" style="top:323px; left:166px"><a href="javascript:void(0)" data-seat-code="G-10"></a></div>
                    
                        <div class="seat seat-normal" style="top:323px; left:179px"><a href="javascript:void(0)" data-seat-code="G-11"></a></div>
                    
                        <div class="seat seat-normal" style="top:323px; left:192px"><a href="javascript:void(0)" data-seat-code="G-12"></a></div>
                    
                        <div class="seat seat-normal" style="top:323px; left:205px"><a href="javascript:void(0)" data-seat-code="G-13"></a></div>
                    
                        <div class="seat seat-normal" style="top:323px; left:218px"><a href="javascript:void(0)" data-seat-code="G-14"></a></div>
                    
                        <div class="seat seat-normal" style="top:323px; left:231px"><a href="javascript:void(0)" data-seat-code="G-15"></a></div>
                    
                        <div class="seat seat-normal" style="top:354px; left:62px"><a href="javascript:void(0)" data-seat-code="H-2"></a></div>
                    
                        <div class="seat seat-normal" style="top:354px; left:75px"><a href="javascript:void(0)" data-seat-code="H-3"></a></div>
                    
                        <div class="seat seat-normal" style="top:354px; left:88px"><a href="javascript:void(0)" data-seat-code="H-4"></a></div>
                    
                        <div class="seat seat-normal" style="top:354px; left:101px"><a href="javascript:void(0)" data-seat-code="H-5"></a></div>
                    
                        <div class="seat seat-normal" style="top:354px; left:114px"><a href="javascript:void(0)" data-seat-code="H-6"></a></div>
                    
                        <div class="seat seat-normal" style="top:354px; left:127px"><a href="javascript:void(0)" data-seat-code="H-7"></a></div>
                    
                        <div class="seat seat-normal" style="top:354px; left:140px"><a href="javascript:void(0)" data-seat-code="H-8"></a></div>
                    
                        <div class="seat seat-normal" style="top:354px; left:153px"><a href="javascript:void(0)" data-seat-code="H-9"></a></div>
                    
                        <div class="seat seat-normal" style="top:354px; left:166px"><a href="javascript:void(0)" data-seat-code="H-10"></a></div>
                    
                        <div class="seat seat-normal" style="top:354px; left:179px"><a href="javascript:void(0)" data-seat-code="H-11"></a></div>
                    
                        <div class="seat seat-normal" style="top:354px; left:192px"><a href="javascript:void(0)" data-seat-code="H-12"></a></div>
                    
                        <div class="seat seat-normal" style="top:354px; left:205px"><a href="javascript:void(0)" data-seat-code="H-13"></a></div>
                    
                        <div class="seat seat-normal" style="top:354px; left:218px"><a href="javascript:void(0)" data-seat-code="H-14"></a></div>
                    
                        <div class="seat seat-normal" style="top:354px; left:231px"><a href="javascript:void(0)" data-seat-code="H-15"></a></div>
                    
                        <div class="seat seat-normal" style="top:385px; left:62px"><a href="javascript:void(0)" data-seat-code="I-2"></a></div>
                    
                        <div class="seat seat-normal" style="top:385px; left:75px"><a href="javascript:void(0)" data-seat-code="I-3"></a></div>
                    
                        <div class="seat seat-normal" style="top:385px; left:88px"><a href="javascript:void(0)" data-seat-code="I-4"></a></div>
                    
                        <div class="seat seat-normal" style="top:385px; left:101px"><a href="javascript:void(0)" data-seat-code="I-5"></a></div>
                    
                        <div class="seat seat-normal" style="top:385px; left:114px"><a href="javascript:void(0)" data-seat-code="I-6"></a></div>
                    
                        <div class="seat seat-normal" style="top:385px; left:127px"><a href="javascript:void(0)" data-seat-code="I-7"></a></div>
                    
                        <div class="seat seat-normal" style="top:385px; left:140px"><a href="javascript:void(0)" data-seat-code="I-8"></a></div>
                    
                        <div class="seat seat-normal" style="top:385px; left:153px"><a href="javascript:void(0)" data-seat-code="I-9"></a></div>
                    
                        <div class="seat seat-normal" style="top:385px; left:166px"><a href="javascript:void(0)" data-seat-code="I-10"></a></div>
                    
                        <div class="seat seat-normal" style="top:385px; left:179px"><a href="javascript:void(0)" data-seat-code="I-11"></a></div>
                    
                        <div class="seat seat-normal" style="top:385px; left:192px"><a href="javascript:void(0)" data-seat-code="I-12"></a></div>
                    
                        <div class="seat seat-normal" style="top:385px; left:205px"><a href="javascript:void(0)" data-seat-code="I-13"></a></div>
                    
                        <div class="seat seat-normal" style="top:385px; left:218px"><a href="javascript:void(0)" data-seat-code="I-14"></a></div>
                    
                        <div class="seat seat-normal" style="top:385px; left:231px"><a href="javascript:void(0)" data-seat-code="I-15"></a></div>
                    
                        <div class="seat seat-normal" style="top:372px; left:277px"><a href="javascript:void(0)" data-seat-code="H-19"></a></div>
                    
                        <div class="seat seat-normal" style="top:372px; left:290px"><a href="javascript:void(0)" data-seat-code="H-20"></a></div>
                    
                        <div class="seat seat-normal" style="top:403px; left:277px"><a href="javascript:void(0)" data-seat-code="I-19"></a></div>
                    
                        <div class="seat seat-normal" style="top:403px; left:290px"><a href="javascript:void(0)" data-seat-code="I-20"></a></div>
                    
                        <div class="seat seat-normal" style="top:436px; left:43px"><a href="javascript:void(0)" data-seat-code="J-1"></a></div>
                    
                        <div class="seat seat-normal" style="top:436px; left:56px"><a href="javascript:void(0)" data-seat-code="J-2"></a></div>
                    
                        <div class="seat seat-normal" style="top:436px; left:69px"><a href="javascript:void(0)" data-seat-code="J-3"></a></div>
                    
                        <div class="seat seat-normal" style="top:436px; left:82px"><a href="javascript:void(0)" data-seat-code="J-4"></a></div>
                    
                        <div class="seat seat-normal" style="top:436px; left:95px"><a href="javascript:void(0)" data-seat-code="J-5"></a></div>
                    
                        <div class="seat seat-normal" style="top:436px; left:108px"><a href="javascript:void(0)" data-seat-code="J-6"></a></div>
                    
                        <div class="seat seat-normal" style="top:436px; left:121px"><a href="javascript:void(0)" data-seat-code="J-7"></a></div>
                    
                        <div class="seat seat-normal" style="top:436px; left:134px"><a href="javascript:void(0)" data-seat-code="J-8"></a></div>
                    
                        <div class="seat seat-normal" style="top:436px; left:147px"><a href="javascript:void(0)" data-seat-code="J-9"></a></div>
                    
                        <div class="seat seat-normal" style="top:436px; left:160px"><a href="javascript:void(0)" data-seat-code="J-10"></a></div>
                    
                        <div class="seat seat-normal" style="top:436px; left:173px"><a href="javascript:void(0)" data-seat-code="J-11"></a></div>
                    
                        <div class="seat seat-normal" style="top:436px; left:186px"><a href="javascript:void(0)" data-seat-code="J-12"></a></div>
                    
                        <div class="seat seat-normal" style="top:436px; left:199px"><a href="javascript:void(0)" data-seat-code="J-13"></a></div>
                    
                        <div class="seat seat-normal" style="top:436px; left:212px"><a href="javascript:void(0)" data-seat-code="J-14"></a></div>
                    
                        <div class="seat seat-normal" style="top:436px; left:225px"><a href="javascript:void(0)" data-seat-code="J-15"></a></div>
                    
                        <div class="seat seat-normal" style="top:436px; left:238px"><a href="javascript:void(0)" data-seat-code="J-16"></a></div>
                    
                        <div class="seat seat-normal" style="top:436px; left:251px"><a href="javascript:void(0)" data-seat-code="J-17"></a></div>
                    
                        <div class="seat seat-normal" style="top:436px; left:264px"><a href="javascript:void(0)" data-seat-code="J-18"></a></div>
                    
                        <div class="seat seat-normal" style="top:436px; left:277px"><a href="javascript:void(0)" data-seat-code="J-19"></a></div>
                    
                        <div class="seat seat-normal" style="top:436px; left:290px"><a href="javascript:void(0)" data-seat-code="J-20"></a></div>
                    
                        <div class="seat seat-wheelchair" style="top:124px; left:114px"><a href="javascript:void(0)" data-seat-code="HC-1"></a></div>
                    
                        <div class="seat seat-wheelchair" style="top:124px; left:126px"><a href="javascript:void(0)" data-seat-code="HC-2"></a></div>
                    
    </div>
    <div class="zoom-btn"><a href="javascript:void(0)"><span class="text-ja">拡大を解除</span><span class="text-en">Cancel Zoom</span></a></div>
    <div class="balloon"></div>
</div>

<div class="sp-not-view device-type-pc"></div>
<div class="pc-not-view device-type-sp"></div>