    <p>Web Ticket Reservation Sales Terms of Service</p>

    <p>Nippon Television City Corporation (“the Company”) defines the “Web Ticket Reservation Sales Terms of Service” (“the Terms”) as follows.<br>
    In utilizing the Web Ticket Reservation Sales Service (“the Service”), customers are deemed to have consented to the Terms.</p>

    <dl>
        <dt>Article 1 (Scope of, and Changes to, the Terms)</dt>
        <dd>1  With regard to the Service, the Terms shall apply to the Company and to the customers who utilize the Service.</dd>
        <dd>2  Notices from the Company within the Service, individual terms specified through other methods, and additional terms notified to customers by the Company shall constitute part of the Terms.</dd>
        <dd>3  Customers shall be deemed to have consented to the Terms when they utilize the Service, and an Agreement shall be deemed to have been established between the customer and the Company in accordance with the stipulations of the Terms.</dd>
        <dd>4  The Company may, through reasonable methods and to the extent appropriate, modify the Terms as appropriate without obtaining prior approval from the Customer. Customers shall agree to such alterations in advance.</dd>
        <dd>5  The Company shall, upon modifying the terms, notify customers of the content of these modifications, utilizing the methods stipulated by the Company.</dd>
        <dd>6  The aforementioned modifications shall come into effect when the Company has performed the notification stipulated in the previous clause./dd>
        <dd>7  Customers shall, after the modifications to the Terms, be deemed to have consented to the modified terms without objection, from the point in time when they utilize the Service.</dd>
    </dl>


    <dl>
        <dt>Article 2 (Conditions of Use)</dt>
        <dd>1　The Service is only applicable to customers who have made a reservation purchase for Tokyo Tower Top Deck Tour tickets (“Tickets”) via the internet.</dd>
        <dd>2　The Service is only applicable to customers who are able to operate and use computers and the internet on their own responsibility, and able to operate and use computers configured with the character displays and e-mail, etc. required for this service.</dd>
        <dd>3　The Company assumes no responsibility for the results of actions by customers who do not fulfill the requirements of the previous clause, or the results arising thereof. Additionally, the Company assumes no responsibility for cases where the Service does not operate for reasons attributable to individual customer circumstances (equipment, network, OS, provider, etc.).</dd>
        <dd>4　With regard to ticket reservation purchases, customers shall input personal information such as their names, telephone numbers, e-mail addresses, etc. (henceforth, “Personal Information”) into the designated form. However, in some cases ticket reservation purchases are not possible due to omissions in entries, illegible corrupted text, or false entries, etc.</dd>
    </dl>


    <dl>
        <dt>Article 3 (Ticket Sales)</dt>
        <dd>1　The types and prices of tickets for which customers can make reservation purchases through the Service are the content listed in the Service. However, ticket types and prices are subject to change without notice, as required by the circumstances of the Company.</dd>
        <dd>2　The time at which a contract of sale for tickets is concluded between the Company and the customer shall be the point at which the Company consents, conditional on the approval of the credit card company regarding payment for the customer’s request.</dd>
        <dd>3　Ticket reservation purchases are made by stipulating a date and time to participate in a tour (time slots are specified in the Service). Tour participation dates and times cannot be changed after making reservation purchases.</dd>
    </dl>


    <dl>
        <dt>Article 4 (Prohibition of Ticket Resale)</dt>
        <dd>Customers must not perform any of the following actions with regard to use of the Service. If the following actions are confirmed, the Company may, at its discretion, deem tickets for which reservations have been purchased to be invalid, and refuse refund of ticket monies and participation in tours. If customers are participating in a tour, they may be required to leave.</dd>
        <dd>(1) Resale of tickets to a third party, or provision of tickets to a third party for resale, regardless of whether such actions are for commercial purposes. Additionally, transfer of tickets to a third party free of charge for commercial purposes.<br>
        (2) Purchase of tickets for resale to a third party, or purchase of tickets for provision to a third party for resale. Additionally, purchase of tickets for transfer to a third party free of charge for commercial purposes.</dd>
    </dl>


    <dl>
        <dt>Article 5 (Other Prohibited Actions)</dt>
        <dd>Customers must not perform any of the following actions with regard to use of the Service. If the customer is deemed to have violated any of the prohibitions with regard to the Company, the Company may take such measures as it deems necessary.</dd>
        <dd>(1) Acts that infringe or may infringe the copyright, trademark rights or other intellectual property rights, property rights, or privacy rights, etc. of the Company or other third party, including customers<br>
        (2) Acts that are or may be offense to public order and morals, or the provision to third parties, including customers, of information that is offensive to public order and morals<br>
        (3) Acts that constitute or may constitute crimes<br>
        (4) Political campaigning or similar acts, regardless of whether during an election period<br>
        (5) Acts or activities of a sexual, religious, or political nature<br>
        (6) Profit-making activities related to the Service that are performed without the consent of the Company<br>
        (7) Impersonation or falsification of personal information such as customer names, telephone numbers, e-mail addresses, etc.br>
        (8) Use or provision of harmful programs such as computer viruses through or in association with the Service<br>
        (9) Fraudulent use of a credit card in order to use the Service<br>
        (10) Acts that violate or may violate laws and ordinances<br>
        (11) Other acts that the Company deems inappropriate</dd>
    </dl>


    <dl>
        <dt>Article 6 (Payment Methods)</dt>
        <dd>Payment of fees related to the Service shall be by credit card (VISA, Master Card, JCB, American Express, Diners Club), with payment of said fee being made automatically on the date specified by the Company.</dd>
    </dl>


    <dl>
        <dt>Article 7 (Ticket Issuing)</dt>
        <dd>The QR code displayed on the screen when a reservation purchase is completed constitutes the tour participation ticket. Customers should save, take a screen shot of, or print out the QR code, and present it when participating in the tour.</dd>
    </dl>


    <dl>
        <dt>Article 8 (Ticket Management)</dt>
        <dd>The same QR code can only be used once. When a ticket is copied or otherwise duplicated, it may only be used for participation on the tour at which the QR code was first presented. Even If the customer who purchased the ticket has not yet participated in the tour themselves, the QR code cannot be used to participate in a tour on presenting it for a second time thereafter.</dd>
    </dl>


    <dl>
        <dt>Article 9 (Ticket Cancellation or Change)</dt>
        <dd>1　Tickets may be canceled up to 11:59 pm of the day three days prior to the date of planned participation in the tour.<br>
        2　Ticket cancellation will incur a cancellation fee of 1,000 yen (including consumption tax) for each reservation purchase, regardless of the number of people for which the purchase is made.<br>
        3　Tour participation dates and times cannot be changed after making reservation purchases.<br>
        4　Tickets will not be canceled, changed, or exchanged for any reason if a person who purchases a ticket reservation does not participate in the tour.
        </dd>
    </dl>


    <dl>
        <dt>Article 10 (Personal Information)</dt>
        <dd>The Company will handle customers’ personal information appropriately in accordance with the separately-defined “Handling of personal information in accordance with the “Act on the Protection of Personal Information,” and customers shall consent to these stipulations when using the Service.</dd>
    </dl>


    <dl>
        <dt>Article 11 (Suspension or Cancellation of the Service)</dt>

        <dd>In the following cases the Company may, at its own discretion, change, suspend, or cancel part or all of the Service.</dd>
        <dd>(1) When a natural disaster or other state of emergency occurs or may occur<br>
        (2) When the Company performs regular or emergency maintenance of facilities installed or managed by the Company<br>
        (3) When the Company cannot provide the Service to customers due to a malfunction, breakdown, or fault in facilities installed or managed by the Company.<br>
        (4) Other cases where deemed necessary by the Company.
        </dd>
    </dl>


    <dl>
        <dt>Article 12 (Disclaimers)</dt>
        <dd>1　The Company will endeavor to ensure the accuracy of the content of the Service. However, the Company does not offer any guarantee of the completeness, accuracy, certainty, or utility of the Service content, or of information that customers obtained through the Service. Customers shall consent to this in advance.<br>
        2　The Company shall bear no responsibility for losses to customers that are incurred by delays, changes, cancellations or cessations of the Service, mistakes in ticket issue, or other issues related to the Service, that are not attributable to the Company.<br>
        3　Use of the Service by minors shall be deemed to take place with the consent of a person exercising parental authority.<br>
        4　When responsibility for a customer loss can be deemed to be attributable to the Company, the indemnity for which the Company is liable shall be limited to the price of the ticket(s) purchased. However, this limit shall not apply in the case of bad faith or gross negligence on the part of the Company.<br>
        5　Operation of retail and food outlets, etc. may change or cease without notice on the day of the tour at the discretion of the Company. In such cases, ticket monies shall not be refunded except in the event of tour cessation or cancellation.<br>
        6　The Company shall bear no responsibility for disputes or other trouble occurring between customers. Where trouble occurs between customers, it shall be the responsibility of the parties concerned to resolve it, and no claim shall be made to the Company.<br>
        7　In relation to use of the Service, customers shall, in the event that they cause damages to other customers or enter into a dispute with a third party, make restitution for damages incurred and resolve disputes at their own responsibility and expense, and shall not cause any annoyance or damage to the Company.<br>
        8　If the behavior of a customer causes a third party to seek restitution for damages from the Company, this shall be resolved at the expense (legal expenses, etc.) and responsibility of the customer. If the Company pays restitution for damages to said third party, the customer shall pay all expenses (including legal expenses and lost profits) to the Company, including appropriate monies for restitution.<br>
        9　If the customer causes damage to the Company in relation to the use of the Service, the customer shall compensate the Company for damages (including lawsuit costs and legal fees), at the expense and responsibility of the customer.
        </dd>
    </dl>


    <dl>
        <dt>Article 13 (Refunds)</dt>
        <dd>1　The Company shall provide refunds in the event of cessation or cancellation of a tour or other reason for refund that can be attributed to the Company.<br>
        2　Payment of refunds will take the form of cancellation of credit card payment. If this occurs, due to the timing of credit card payment cancellation, the refund may appear as a negative transaction in the customer’s credit card details following the month in which payment occurred.<br>
        3　When refunds are made, the Company will first send notification of the tour cancellation to the e-mail address registered by the customer. The amount of the refund shall be the price of the ticket purchase. Compensation will not be provided for other expenses (travel expenses, accommodation, communication expenses, etc.).
        </dd>
    </dl>


    <dl>
        <dt>Article 14 (Governing Law)</dt>
        <dd>The Japanese language version shall be the official version of the Terms, and the establishment, effect, execution, and interpretation of the Terms shall be in accordance with Japanese law.</dd>
    </dl>


    <dl>
        <dt>Article 15 (Court of Jurisdiction)</dt>
        <dd>In the event of a dispute between the customer and the Company, the Tokyo District Court shall be the exclusive court with jurisdiction of the first instance.</dd>
    </dl>


    <dl>
        <dt>Article 16 (Other)</dt>
        <dd>With regard to items not defined in the terms, customers shall comply with definitions that the Company provides separately.</dd>
    </dl>

    Concluded on January 23, 2018

