    <p>日本電波塔株式会社（以下「弊社」といいます。）は、「WEBチケット予約販売サービス利用規約」（以下「本規約」といいます。）を以下のとおり定めます。<br>
    弊社が提供するWEBチケット予約販売サービス（以下「本サービス」といいます。）を利用される場合は、お客様が本規約に同意したものとみなされます。</p>


    <dl>
        <dt>第1条（本規約の適用範囲および変更について）</dt>
        <dd>1  本規約は、本サービスの利用に関し、弊社と本サービスを利用されるお客様に適用されるものとします。</dd>
        <dd>2  弊社が本サービス内における掲示またはその他の方法により規定する個別規定および弊社がお客様に通知する追加規定は本規約の一部を構成します。</dd>
        <dd>3  お客様が本サービスを利用した時点で本規約にお客様が同意したものとみなされ、お客様と弊社との間で、本規約の諸規定に従った利用契約が成立するものとします。</dd>
        <dd>4  弊社は、合理的な範囲・方法により、事前にお客様の承諾を得ることなく本規約を適宜変更できるものとし、お客様には予めこれを了承いただくこととします。</dd>
        <dd>5  弊社は、本規約を変更するときは、その内容について弊社所定の方法によりお客様に通知します。</dd>
        <dd>6  前本規約の変更の効力は、弊社が前項により通知を行った時点から生じるものとします。</dd>
        <dd>7  お客様は、本規約変更後、本サービスを利用した時点で、変更後の本利用規約に異議なく同意したものとみなされます。</dd>
    </dl>


    <dl>
        <dt>第2条（ご利用条件について）</dt>
        <dd>1　本サービスは、インターネットを経由して東京タワートップデッキツアーチケット（以下「チケット」といいます。）を予約購入いただくお客様のみを対象にしています。</dd>
        <dd>2　本サービスは、コンピュータやインターネットをご自身の責任で操作、利用できるお客様で、かつ本サービスの利用に必要な文字表示、電子メールなどの諸設定がなされたコンピュータを操作、利用が可能なお客様のみを対象にしています。</dd>
        <dd>3　前項の条件を満たさないお客様の動作結果およびそれにより生ずる結果に関して弊社は一切責任を負いません。また前項の条件を満たしていても、お客様個別の事情（機器、ネットワーク、OS、プロバイダなど）により本サービスが正常に作動しない場合においても弊社は一切責任を負いません。</dd>
        <dd>4　チケットの予約購入にあたり、お客様の氏名、電話番号、電子メールアドレスなどの個人情報（以下「個人情報」といいます。）を所定のフォームに入力していただきますが、記入漏れ、判別できない文字化け、虚偽の記入などがあった場合、チケットの予約購入ができないことがあります。</dd>
    </dl>


    <dl>
        <dt>第3条（チケットの販売について）</dt>
        <dd>1　お客様が本サービスを利用して予約購入できるチケットの種類および価格については本サービス上に記載する内容とします。ただし、チケットの種類および価格は弊社の都合により予告なく変更する場合があります。</dd>
        <dd>2　チケットに関する弊社とお客様との間の売買契約の成立時期は、お客様の申込みに対しクレジットカード会社の支払承認がなされることを条件として弊社が承諾した時点とします。</dd>
        <dd>3　チケットは、ツアー参加日時（本サービス上で指定される時間枠）を指定して予約購入していただきます。なお、予約購入後にツアー参加日時の変更はできません。</dd>
    </dl>


    <dl>
        <dt>第4条（チケット転売の禁止）</dt>
        <dd>お客様は、本サービスの利用にあたって、以下に掲げる行為を行ってはならないものとします。下記の行為が判明した場合、弊社の判断で予約購入済みのチケットを無効とし、チケット代金の返金およびツアー参加が認められないことがあります。既にツアー参加している場合には退場を命じられることがあります。</dd>
        <dd>(1) 営利目的の有無にかかわらず、第三者にチケットを転売したり、転売のために第三者に提供したりすること。また、営利の目的として第三者にチケットを無償で譲渡すること。<br>(2) 第三者にチケットを転売する目的、あるいは転売のために第三者に提供する目的でチケットを購入すること。また、営利目的で第三者にチケットを無償で譲渡することを目的としてチケットを購入すること。</dd>
    </dl>


    <dl>
        <dt>第5条（その他の禁止行為について）</dt>
        <dd>お客様は、本サービスの利用にあたり、次に掲げる行為を行わないものとします。弊社においてお客様が禁止事項に違反したと認めた場合、弊社が必要と判断した措置を取ることができます。</dd>
        <dd>(1) 弊社またはほかのお客様を含む第三者の著作権、商標権その他の知的財産権、財産権、プライバシーなどの権利を侵害する行為、もしくは侵害するおそれのある行為<br>
        (2) 公序良俗に反する行為、もしくはそのおそれのある行為、または公序良俗に反する情報をほかのお客様を含む第三者に提供する行為<br>
        (3) 犯罪を構成する行為、または犯罪を構成するおそれのある行為<br>
        (4) 選挙期間中であるか否かを問わず、選挙運動またはこれに類する行為<br>
        (5) 性、宗教、政治に関する活動行為<br>
        (6) 本サービスに関連して、弊社の承諾なくして行う営利行為<br>
        (7) お客様の氏名、電話番号、電子メールアドレスなどの個人情報を偽る行為、または成りすまし行為<br>
        (8) コンピュータウィルスなどの有害なプログラムを、本サービスを通じてまたは本サービスに関連して使用しもしくは提供する行為<br>
        (9)  クレジットカードを不正使用して本サービスを利用する行為<br>
        (10) 法令に違反する行為、または違反するおそれのある行為<br>
        (11) その他弊社が不適切であると判断する行為</dd>
    </dl>


    <dl>
        <dt>第6条（決済方法）</dt>
        <dd>本サービスに関わる料金のお支払いはクレジットカード（VISA、Master Card、JCB、American Express、Diners Club）によるものとし、弊社の指定した期日に自動決済し当該料金をお支払いいただくものとします。</dd>
    </dl>


    <dl>
        <dt>第7条（チケットの発券方法）</dt>
        <dd>予約購入完了時に画面表示されるQRコードがツアー参加チケットとなります。お客様はQRコードを保存、画面撮影（スクリーンショット）、もしくは印刷のうえツアー参加時に提示していただきます。</dd>
    </dl>


    <dl>
        <dt>第8条（チケットの管理について）</dt>
        <dd>同一のQRコードは1回しか使用できません。チケットをコピーなど複写した場合、最初のQRコード提示に限りツアー参加可能です。購入したお客様自身がまだツアー参加していない場合でも、2回目以降のQRコード提示でのツアー参加はできません。</dd>
    </dl>


    <dl>
        <dt>第9条（チケットのキャンセル・変更について）</dt>
        <dd>1　チケットのキャンセルはツアー参加予定日の3日前の23時59分まで可能です。<br>
        2　チケットをキャンセルする場合、人数にかかわらず一度の予約購入単位毎に\1,000（税込）のキャンセル手数料が必要です。<br>
        3　チケット予約購入後のツアー参加の日付、時間の変更はできません。<br>
        4　チケットを予約購入後、ツアーに参加しなかった場合、理由の如何を問わずチケットのキャンセル、変更、取替はいたしません。
        </dd>
    </dl>


    <dl>
        <dt>第10条（個人情報について）</dt>
        <dd>弊社は別途掲示する『「個人情報の保護に関する法律」に基づく個人情報の取扱いについて』に基づきお客様の個人情報を適正に取り扱うものとし、お客様はこれらの条項に同意のうえ本サービスをご利用いただくものとします。</dd>
    </dl>


    <dl>
        <dt>第11条（サービスの中断または中止）</dt>

        <dd>弊社は以下のような場合は自らの判断により本サービスの運用の全部または一部を変更、中断または中止することができるものとします。</dd>
        <dd>(1) 天災地変その他の非常事態が発生し、または発生するおそれがある場合<br>
        (2) 本サービスに関連して、弊社が設置または管理する設備の保守を定期的にもしくは緊急に行う場合<br>
        (3) 弊社が設置または管理する設備の異状、故障、障害その他本サービスをお客様に提供できない事由が生じた場合<br>
        (4) その他弊社が必要と判断した場合
        </dd>
    </dl>


    <dl>
        <dt>第12条（免責）</dt>
        <dd>1　弊社は、本サービス内容の正確性確保に鋭意努めますが、本サービス内容およびお客様が本サービスを通じて得る情報等について、その完全性、正確性、確実性、有用性等いかなる保証も行うものではありません。お客様には予めこれを了承いただくものとします。<br>
        2　本サービスの提供に関し、その遅滞、変更、中止もしくは廃止、チケットの発券上のミスまたはその他本サービスに関連して発生したお客様の損害について、弊社に帰責事由がない場合には、弊社は一切責任を負わないものといたします。<br>
        3　未成年者による本サービスのご利用は、親権者の同意と責任において行われるものとします。<br>
        4　お客様に発生した損害が弊社の帰責事由に基づく場合には、弊社の賠償責任額は該当するチケットの購入代金を上限とします。ただし、弊社に故意または重過失がある場合には、かかる上限の適用はないものとします。<br>
        5　ツアー参加当日の物販店舗、飲食店舗などは弊社の都合により予告なく変更、中止することがあります。この場合においてもツアーの休止や中止の場合を除きチケットの払戻しはいたしません。<br>
        6　お客様と他のお客様との間の紛争およびトラブルについて、弊社は一切責任を負わないものとします。お客様と他のお客様でトラブルになった場合でも、両者同士の責任で解決するものとし、弊社には一切の請求をしないものとします。<br>
        7　お客様は、本サービスの利用に関連し、他のお客様に損害を与えた場合または第三者との間に紛争を生じた場合、自己の費用と責任において、かかる損害を賠償またはかかる紛争を解決するものとし、弊社には一切の迷惑や損害を与えないものとします。<br>
        8　お客様の行為により、第三者から弊社が損害賠償等の請求をされた場合には、お客様の費用（弁護士費用）と責任で、これを解決するものとします。弊社が、当該第三者に対して、損害賠償金を支払った場合には、お客様は、弊社に対して当該損害賠償金を含む一切の費用（弁護士費用及び逸失利益を含む）を支払うものとします。<br>
        9　お客様が本サービスの利用に関連して弊社に損害を与えた場合、お客様の費用と責任において弊社に対して損害を賠償（訴訟費用及び弁護士費用を含む）するものとします。
        </dd>
    </dl>


    <dl>
        <dt>第13条（返金）</dt>
        <dd>1　弊社の帰責事由に基づくツアーの休止や中止その他返金の事由が発生した場合には返金を行います。<br>
        2　返金方法はクレジットカード決済の取消しをもって対応するものとします。その際、クレジットカード決済取消し時期の都合上、決裁された翌月以降に利用明細上マイナス表記される場合があります。<br>
        3　返金を行う場合、まずお客様ご登録のメールアドレスへツアーの中止案内を送るものとします。返金額はチケット購入代金とし、それ以外の費用（交通費、宿泊費、通信費等）に関する補償はいたしません。
        </dd>
    </dl>


    <dl>
        <dt>第14条（準拠法）</dt>
        <dd>本規約は、日本語を正文とし，本規約の成立、効力、履行および解釈に関しては、日本法が適用されるものとします。</dd>
    </dl>


    <dl>
        <dt>第15条（管轄裁判所）</dt>
        <dd>本サービスに関して万一お客様と弊社との間で紛争が生じた場合、東京地方裁判所を第一審の専属的合意管轄裁判所とします。</dd>
    </dl>


    <dl>
        <dt>第16条（その他）</dt>
        <dd>お客様は本規約に定めのない事項について、別途弊社の定めるところに従うものとします。</dd>
    </dl>

    ２０１８年　　月　　日　施行
