    <p>株式会社モーションピクチャー（以下、「当社」といいます）は、当社がインターネット上で運営するeメール型の映画チケット（以下、「映画オンラインチケット」といいます）の販売・座席指定サービス、およびこれに付随するサービス（以上を総称し、以下、「本サービス」といいます）をお客様にご利用いただく際に、次の映画オンラインチケットサービス利用規約（以下「本規約」といいます）を定めております。本規約に同意の上、本サービスをご利用ください。</p>


    <dl class="ol">
        <dt>第１条  （本規約の範囲）</dt>
        <dd>本規約は、お客様が本サービスをご利用（お問い合わせを含む）するにあたり、お客様と当社との本サービスの利用および運営等に関わる一切の事項に適用されるものとし、お客様が本サービスをご利用したことをもって、本規約に同意したものとみなします。</dd>
        <dd>提携他社との共同により行うサービスが別途ある場合については、当該サービスの対象者においても適用されるものとします。</dd>
    </dl>


    <dl>
        <dt>第２条  （本規約の変更）</dt>
        <dd>当社は事前の通知をすることなく本規約を変更できるものとし、お客様は本サービスをご利用する度ごとに本規約をご確認するものとします。<br>内容変更後は、変更後の内容のみを有効とします。</dd>
    </dl>


    <dl class="ol">
        <dt>第３条  （利用の拒否）</dt>
        <dd>お客様が以下のいずれかに該当する場合、当社は当該お客様による本サービスのご利用をお断りすることができるものとします。<br>
                ① 本規約第１４条および第２０条に定める禁止行為のいずれかに該当し、または該当するおそれがある場合<br>
                ② 本規約に違反した場合<br>
                ③ その他当社が不適当と判断した場合
        </dd>
        <dd>お客様は前項の処分に対し、一切の異議を申し出ないこととし、当該処分を受けたことにより、何らかの不利益または損害を受けた場合でも当社は一切責任を負わないものとします。
        </dd>
    </dl>

    <dl class="ol">
        <dt>第４条  （利用環境）</dt>
        <dd>本サービスは、お客様ご自身の責任でコンピュータの操作およびインターネットの利用ができ、本サービスご利用に必要な文字表示や電子メール等の諸設定が適切になされている方を対象にしています。</dd>

          <dd>前項の条件を満たさないお客様の動作結果およびそれにより生ずる結果に関して当社は一切責任を負いません。<br>
          また前項の条件を満たしていても、お客様個別の事情（ＯＳ、ソフトウェア、ＬＡＮ環境等）によって、本サービスが正常に作動しない場合も、それにより生ずる結果に関して、当社は一切責任を負いません。</dd>

          <dd>携帯端末による本サービスご利用の場合、お客様は、携帯端末によっては本サービスのご利用に対応するまで時間がかかる場合や対応できない場合があることに予め了承するものとします。</dd>

          <dd>本サービスの利用（お問い合わせを含む）に関して生ずる通信料、接続料等の費用はお客様のご負担と致します。</dd>
    </dl>


    <dl>
        <dt>第５条  （販売方法）</dt>
        <dd>当社は、販売する映画オンラインチケットに係る映画祭の主催者（以下「映画祭主催者」といいます）より、映画オンラインチケットの販売業務およびその関連業務を委託されております。<br>
        必要に応じて販売枚数、販売方法、販売期間、販売時間に制限を設けております。</dd>
    </dl>


    <dl>
        <dt>第６条  （販売対象）</dt>
        <dd>映画オンラインチケットは適切な券種をご購入ください。小人券を大人がご利用することはできません。</dd>
    </dl>


    <dl class="ol">
        <dt>第７条  （映画オンラインチケットの購入契約の成立）</dt>
        <dd>お客様が、所定の手続に従って映画オンラインチケットの購入申込を行い、当該申込手続の完了をもって購入契約の成立とします。</dd>
        <dd>購入申込手続き完了の告知は、本サービスを実施するインターネット上にて行います。<br>
        お客様は、本サービスを実施するインターネット上の購入完了告知を遅滞なく確認する義務を負うものとし、確認の遅滞または確認の不能等によりお客様または第三者に生じた損害に対し、当社は一切の責任を負いません。</dd>
        <dd>購入契約成立後、当社より、ご購入いただいた映画オンラインチケットの情報を記載した電子メールを、情報送信先としてご入力いただいた電子メールアドレス宛にお送りいたします。<br>
        電子メールアドレスの誤入力、判読不可能な文字化け現象等、入力内容に何らかの不具合が生じその結果電子メールを送信できない場合、および電子メールの不達・誤達・遅達・受信拒否等により電子メールが届かなかった場合でも当社は一切責任を負いません。</dd>
        <dd>本サービスはインターネットを利用したシステムであるため、通信回線の混雑またはコンピュータシステム上の不慮の事故等により、映画オンラインチケット購入契約の成否の確定またはその通知が大幅に遅れ、もしくは不能となる場合があります。</dd>
        <dd>当社は、前項に定める映画オンラインチケット購入の成否について、お客様および第三者に対し一切責任を負いません。</dd>
    </dl>


    <dl>
        <dt>第８条  （重複申込）</dt>
        <dd>映画オンラインチケットのご購入において、お客様の入力ミスまたは通信環境の不具合等により重複申込みされた場合でも、当社は一切責任を負いません。<br>
        また、その代金についての払戻しはいたしません。</dd>
    </dl>


    <dl>
        <dt>第９条  （他の割引サービスとの併用）</dt>
        <dd>別途認められた場合を除き、映画オンラインチケットを他の割引サービスと併用してご利用いただくことはできません。</dd>
    </dl>


    <dl>
        <dt>第１０条  （ご鑑賞方法）</dt>
        <dd>お客様は、ご購入した映画オンラインチケットにより映画をご鑑賞するににあたり、ご鑑賞する映画館等が定める利用規約・その約款等に従うものとします。</dd>
    </dl>


    <dl class="ol">
        <dt>第１１条  （料金決済）</dt>

        <dd>本サービスによる映画オンラインチケットのご購入には以下の決済方法がご利用いただけます。<br>
                ただし、お客様が利用するインターネットサービスの制限または各決済方法のメンテナンス等の理由により一部の決済方法が利用できない場合があります。<br>
                ① 以下のクレジットカードによるお支払い<br>
                ・VISA/MASTER（ビザ／マスター）<br>
                ・JCB（ジェーシービー）<br>
                ・AMEX（アメックス）<br>
                ・DINERS（ダイナース）<br>
                ② コンビニエンスストアでのお支払い
        </dd>

        <dd>映画オンラインチケットのご購入に対する領収書は発行致しませんので予めご了承ください。</dd>

        <dd>映画オンラインチケットのご購入申込みの際、クレジットカード情報の虚偽入力、誤入力、入力漏れ、または各クレジットカード発行会社の規約等に準じない等、何らかの理由で決済ができない場合には、当該映画オンラインチケットのご購入は無効となります。<br>決済ができない場合に関するお問い合わせは、クレジットカード会社等、各決済サービス方法の窓口へ直接お問い合わせください。</dd>

        <dd>本サービスは成年者を対象としております。未成年者が本サービスをご利用される場合、必ず保護者同意のうえご利用ください。<br>未成年者が本サービスをご利用された場合、全ての事項において保護者の同意を得たものとみなします。</dd>

    </dl>


    <dl class="ol">
        <dt>第１２条  （変更・クーリングオフ）</dt>
        <dd>当社は、購入申込み手続きが完了した映画オンラインチケットに関し、上映映画館、スケジュール等に関する錯誤、券種選択の間違い、交通渋滞や駐車場渋滞による映画館への来場遅延、座席指定券発行遅延等、理由の如何にかかわらず、当該映画オンラインチケットの変更およびご購入のキャンセルは一切受け付けていません。<br>
        当社の映画オンラインチケットはクーリングオフ対象外です。</dd>
        <dd>お客様が映画オンラインチケットをご購入後、ご購入対象映画を鑑賞しなかった場合であっても当該映画オンラインチケットの変更およびご購入のキャンセルはいたしませんのでご注意ください。</dd>
    </dl>

    <dl class="ol">
        <dt>第１３条  （上映中止時の責任）</dt>
        <dd>映画祭主催者の判断によりご購入対象映画が上映中止となった場合、お客様への上映中止の告知責任を含む一切の責任は映画祭主催者が負うこととなります。<br>
        当社は上映中止に伴う責任は負いません。また上映中止による映画オンラインチケットの販売代金の払戻し責任も映画祭主催者に帰属いたします。</dd>

        <dd>上映中止により払戻しが行われる場合、映画祭主催者の依頼により、当社は、当社よりご購入いただいたお客様を対象に、映画オンラインチケットの払戻し業務の一部を代行する事があります。<br>
        払戻し受付期間は、映画祭主催者より要請のあった期間内とさせていただきます。<br>
        所定の受付期間を過ぎてからのお申し出はお受けできません。またご購入名義人以外の方からの返金の申し出はできません。</dd>

        <dd>当社にて映画オンラインチケットの払戻し業務を行う場合、まずご登録のメールアドレスへ上映中止案内を送らせていただきます。<br>
        返金額は映画オンラインチケットご購入代金とし、それ以外の費用（交通費、宿泊費、通信費等）に関する補償は致しません。<br>
        また、映画オンラインチケットの払い戻し方法はご利用の決済サービスの処理方法に準じます。</dd>

    </dl>


    <dl class="ol">
        <dt>第１４条  （転売の禁止）</dt>
        <dd>本サービスでご購入した映画オンラインチケットまたはそのコード番号を、営利を目的として第三者に転売し、または転売のために第三者に提供する行為は禁止されております。<br>
        また目的の如何を問わず、本サービスにおける販売価格より高い価格で転売し、または転売を試みる行為、およびオークションまたはインターネットチケットオークションにかけて転売し、または転売を試みる行為も禁止されております。</dd>

        <dd>当社において、前項に定める禁止行為を確認した場合には、以下の対応をとらせていただきます。<br>
        また当社は当該販売代金を一切返金しないものとします。<br>
                ① 禁止行為によって購入し、または禁止行為によって処分し、もしくは処分することを試みた映画オンラインチケットについては無効といたします。<br>
                ② 前号にもかかわらず既に映画館等に入場している場合には、退場させられることがあります。<br>
        </dd>
    </dl>


    <dl class="ol">
        <dt>第１５条  （個人情報の取扱い）</dt>
        <dd>当社は、個人情報保護法に基づき個人情報（住所、氏名、電話番号、e-mailアドレスその他お客様を特定の個人として識別することができる情報（他の情報と容易に照合することができ、それにより特定の個人を識別することができることとなるものも含みます。））を厳重に管理し、送信の際に暗号化処理等を行うなど、機密保持のために充分なセキュリティ体制を敷いています。<br>
        ただし、通信回線やコンピュータ等の障害によるデータの消失等の防止については保証いたしません。</dd>

        <dd>当社は、お客様の個人情報を利用して、電子メールその他の手段により映画オンラインチケットの購入・販売等に関する通知等をお客様に発信することができるものとします。</dd>

        <dd>当社は、お客様より取得した個人情報を、下記の目的に利用できるものとします。<br>
                なお、下記の目的以外で個人情報を利用する場合は、改めてその目的を通知するものとします。<br>
                ① 当社が取り扱う商品・サービスを販売・提供（受付・代金決済・配送等）するため<br>
                ② 前号に付随するサービス（電子メール、郵便および電話等を用いた、上映の変更・中止などのお客様への連絡、案内や業務上必要と判断した確認のための連絡など）を実施するため<br>
                ③ 当社のサービスに関する情報の案内や、当社が適切と判断した企業の商品・サービス等の広告案内などの営業活動や販売促進活動のため<br>
                ④ 当社のサービスに関するユーザーサポート（お問い合わせ対応など）のため<br>
                ⑤ その他の当社サービスの開発・提供の目的で実施する各種アンケート調査、キャンペーン（各種プレゼント等）の実施のため<br>
                ⑥ 営業活動や新たなサービス開発の参考とするため、個人を識別または特定できない様態にて集計した統計資料の作成およびそれらを用いたマーケティング分析のため<br>
                ⑦ システムの運用・管理やお問い合わせ対応のためのアクセス情報（インターネット・携帯サイト・電話等）の利用および記録のため<br>
                ⑧ 映画オンラインチケット以外の、当社が開発または運営するサービスに関するご案内等のため<br>
        </dd>

        <dd>その他当社における個人情報の取り扱いに関しましては、別途提示する「プライバシーポリシー」をご確認ください。</dd>

    </dl>

    <dl class="ol">
        <dt>第１６条  （個人情報の第三者提供）</dt>

        <dd>当社は、お客様より取得した個人情報（住所、氏名、電話番号、e-mailアドレスその他お客様を特定の個人として識別することができる情報（他の情報と容易に照合することができ、それにより特定の個人を識別することができることとなるものも含みます。））に関し、予めお客様より同意を得ている場合を除いて、第三者に対して提供しないものとします。<br>
        ただし、以下に該当する場合には、当社はお客様より取得した個人情報を第三者に提供する場合があることを、お客様は予め承諾するものとします。<br>
                ① 当社が、本サービスの利用動向を把握する目的で収集した統計情報を、お客様の特定ができない形式に加工して開示する場合（個人情報は含まれません）<br>
                ② 他のお客様、第三者または当社の著作権、財産権、プライバシー、名誉、信用もしくはその他の権利を侵害する場合、並びにそのおそれのある場合<br>
                ③ 他のお客様、第三者、当社に不利益または損害を与える場合、もしくはそのおそれのある場合<br>
                ④ 法令により第三者への提供が認められている場合<br>
                ⑤ 犯罪捜査のために警察等の公的機関から要求された場合<br>
                ⑥ その他、本サービスをお客様へ提供するために必要な場合<br>
        </dd>

        <dd>前各号に記載の場合のほか、当社は、お客様より取得した個人情報を当社の株主に対して開示する場合があり、お客様は予めこれを承諾するものとします。<br>
            なお対象となる当社の株主は、２０１６年１０月０１日現在では株式会社ＫＡＤＯＫＡＷＡ、株式会社メイジャーおよび株式会社ガイエですが、変更がある場合は、本規約を変更するなどして開示致します。
        </dd>
    </dl>


    <dl class="ol">
        <dt>第１７条  （著作権）</dt>
          <dd>お客様は、権利者の許諾を得ることなく、いかなる方法によっても、本サービスを通じて提供される著作物等を著作権法で定める個人の私的使用の範囲を超えて使用することはできません。</dd>
        <dd>著作権に関し、お客様と権利者との間で問題が生じた場合、お客様は、自己の費用と責任においてこれを解決するものとし、当社は一切関与しないものとします。</dd>
    </dl>


    <dl>
        <dt>第１８条  （本サービスの運営）</dt>
        <dd>当社は、本サービスの運営に関し、完全かつ独自の裁量を有しており、本サービスで行われるお客様からの書き込み状況・内容を監視し、当社が必要と判断した場合、書き込みを削除、または禁止するなどアクセスの制限を実施することができるものとします。</dd>
    </dl>


    <dl class="ol">
        <dt>第１９条  （本サービスの変更・中止･中断）</dt>
        <dd>当社は本サービスの運営上、そのシステムや内容の変更が必要であると判断した場合、お客様に対し事前に通知することなく、本サービスの内容に変更を行うことがあります。</dd>

        <dd>当社は以下の各号に該当する場合には、本サービスの運営を中止・中断することがあります。<br>
              ① 本サービスのシステムの停止または緊急の保守・点検を行う場合<br>
              ② 天災地変・戦争・暴動・騒乱・労働争議・火災・停電・輸送手段の混乱その他当社の合理的支配を超える事由により本サービスを提供することができなくなった場合<br>
              ③ その他、当社が本サービスの運営上必要と判断した場合
        </dd>

        <dd>当社は本条の規定に基づく本サービスの中止、中断、変更または廃止、もしくは本サービスの提供の遅滞、その他本サービスに関連して発生したお客様または第三者の損害について一切責任を負わないものとします。</dd>
    </dl>


    <dl>
        <dt>第２０条  （禁止事項）</dt>
          <dd>お客様は、本サービスの利用（お問い合わせを含む）にあたって、以下の行為を行ってはならないものとします。<br>
          ① 他のお客様、第三者または当社の商標権、著作権、プライバシーその他の権利を侵害する行為<br>
          ② 前項の他、他のお客様、第三者または当社に不利益もしくは損害を与える行為、および与えるおそれのある行為<br>
          ③ 公序良俗に反する行為、もしくはそのおそれのある行為、または公序良俗に反する情報を他のお客様または第三者に提供する行為<br>
          ④ 犯罪的行為、もしくは犯罪的行為に結び付く行為、またはそのおそれのある行為<br>
          ⑤ 選挙期間中であるか否かを問わず、選挙運動またはこれに類する行為<br>
          ⑥ 性風俗、宗教、政治に関する活動を行う行為<br>
          ⑦ 本サービスを通じてまたは本サービスに関連して、営利を目的とする行為もしくはその準備を目的とする行為<br>
          ⑧ コンピュータウィルス等の有害なプログラムを、本サービスを通じて、または本サービスに関連して使用し、もしくは提供する行為<br>
          ⑨ 本サービスの円滑な運営を妨げる行為、その本サービスに支障をきたす恐れのある行為<br>
          ⑩ 本サービスに接続されている他のコンピュータシステムまたはネットワークへの不正アクセスを試みる行為<br>
          ⑪ 法令に違反する、または違反するおそれのある行為<br>
          ⑫ その他、当社が不適切と判断する行為
        </dd>
    </dl>


    <dl class="ol">
        <dt>第２１条  （免責事項）</dt>
          <dd>当社は、本サービス内容の正確性確保に鋭意努めますが、本サービス内容およびお客様が本サービスを通じて得る情報等について、その完全性、正確性、確実性、有用性等いかなる保証も行うものではありません。</dd>

          <dd>当社は、本サービスに関連して発生したお客様、または第三者の損害について、一切責任を負わないものといたします。<br>
          ただし、当該損害が当社の債務不履行または不法行為に基づくときは、当社は、当該お客様のご購入額を上限として損害賠償責任を負うものとします。<br>なお、未成年者による本サービスのご利用は、親権者の同意と責任において行われるものとします。</dd>

          <dd>当社は会員の個人情報の保護のため、適切かつ合理的な安全管理措置をとるものといたしますが、安全管理措置をとった場合であっても、第三者からの不正アクセスなどを完全には防止できない可能性があることを会員は了解し、本サービスを利用するものとします。</dd>

    </dl>


    <dl>
        <dt>第２２条  （紛争）</dt>
          <dd>本サービスに関して生じたお客様間または第三者との紛争は、当事者間で解決するものとし、お客様は当社に対しいかなる苦情の申し立ても行わないこととします。</dd>
    </dl>


    <dl>
        <dt>第２３条  （準拠法）</dt>
          <dd>本規約の成立、履行および解釈に関しては、日本法が適用されるものとします。</dd>
    </dl>


    <dl class="ol">
        <dt>第２４条  （管轄裁判所）</dt>
        <dd>本サービスに関連して、お客様と当社との間で紛争が生じた場合には、当事者間において誠意をもって解決するものとします。</dd>
        <dd>協議をしても解決しない場合、東京地方裁判所を第一審の専属的合意管轄裁判所とします。</dd>
    </dl>


    附則
    本規約は２０１６年１０月１日から有効とします。
