<%
/**
 *  現在ステップ表示
 *  @param {string} currentStepName : 現在ステップ
 */
%>
<div class="steps">
    <%
        const stepNames = ['performances', 'tickets', 'profile', 'confirm', 'complete'];
        const currentIndex = (typeof currentStepName !== 'undefined') ? stepNames.indexOf(currentStepName) : -1;
        stepNames.forEach((stepName, index)=> {
            let stateClassName = '';
            if (index < currentIndex) {
                stateClassName = 'step-done';
            } else if (index === currentIndex) {
                stateClassName = 'step-active';
            }
    %>
            <div class="step step-<%= stepName %> <%= stateClassName %>"><span>STEP<%= (index+1) %></span></div>
    <%
        });
    %>
</div>
