<footer>
    <div class="copyrights">
        <div class="inner">
            <!-- 購入フロー中で、パフォーマンスが確定していれば作品著作権をフッターに追加 -->
            <% if (typeof(reservationModel) !== 'undefined' && reservationModel.performance) { %>
            <p class="film-copyright"><%- reservationModel.performance.film.copyright %></p>
            <% } %>
        </div>
    </div>
</footer>

<script>
$(function(){
    $(document).on('click', '.update-locale', function(){
        location.href = '/language/update/' + $(this).attr('data-locale') + '?cb=' + location.href;
    })
});
</script>