<header>
    <div class="container">

        <a href="javascript:void(0);" class="header-logo">
            <img src="/images/common/logo.svg" alt="Tokyo Tower">
            <img class="logo-tour" src="/images/common/logo_tour_gold.svg" alt="Tokyo Tower Top Deck Tour">
        </a>

        <div class="header-menu">
    
        </div>

        <div class="header-lang">
            <p>Language</p>
            <%- include('../common/_select_locale.ejs') %>
        </div>
    </div>
</header>
