<!-- 座席の位置確認マップモーダル -->
<div class="modal fade selected-seat-map" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <p class="btn-circle-close" data-dismiss="modal"></p>
            <div class="modal-header">
                座席を表示
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <p class="btn btn-close" data-dismiss="modal"><span><%- __('Button.Close') %></span></p>
            </div>
        </div>
    </div>
</div>


<script>
/**
 * 座席の位置確認マップを表示する
 * 様々なページからこの機能を利用する想定
 */
function showSeatPositon(screenId, selecteSeatCodes) {
    $.ajax({
        dataType: 'json',
        url: '<%= process.env.API_ENDPOINT %>/screen/' + screenId + '/show',
        type: 'GET',
        data: {},
        beforeSend: function() {
        }
    }).done(function(body) {
        $('.selected-seat-map .modal-body').html(body.data).find('.seat a').addClass('disabled');
        new ScreenSeatStatusesMap($('.screen'));
        selecteSeatCodes.forEach(function(selecteSeatCode){
            $('.selected-seat-map .modal-body .seat a[data-seat-code="' + selecteSeatCode + '"]').removeClass('disabled').addClass('active');
        });
        $('.selected-seat-map').modal();
    }).fail(function(jqxhr, textStatus, error) {
        if (jqxhr.status === 404) {
            alert('screen not found');
        } else {
            alert(jqxhr.responseJSON.errors[0].detail);
        }
    }).always(function() {
    });
}

// 座席位置確認マップを表示する
$(document).on('click', '.show-seat-position', function(){
    showSeatPositon($(this).attr('data-screen-id'), $(this).attr('data-seat-codes').split(','));
});

</script>